{% extends "layout.html" %}

{% block content %}

{% with from_dst_sort_order=3 %} 
	{% include "dst_title.html" %} 
{% endwith %} 


</br>

<button style="margin-bottom:1%" class="btn btn-info btn-xs" id="add_button"><h5><strong>
	<a href="{{ url_for('destinations.dsply_goal_form2', selected_destination_id=dst.id) }}">הוסף יעד חדש</a>
<strong></h5></button>

</br></br>
		
	<div> 
	
		{% for goal in dst.children if (goal.type=='goal') %}
		
			<br><br>						
			
			<button type="button" id="act_btn">
				<a style="color: black" id="act_btn" 
					href="{{ url_for('goals.goal_update', selected_goal_id=goal.id) }}">
					ערוך פרטים
				</a>
			</button>			
			
			<button type="button" id="act_btn">
				<a style="color: black" id="act_btn" 
					href="{{ url_for('goals.edit_goal_methods2', selected_goal_id=goal.id) }}">
					דרכי הוראה, שיטות, אמצעים ומשאבים
				</a>
			</button>			
				
			<button type="button" id="act_btn">
				<a style="color: black" id="act_btn" 
					href="{{ url_for('goals.edit_goal_tests2', selected_goal_id=goal.id) }}">
					אמות מידה להערכה
				</a>
			</button>			
				
			<button type="button" id="act_btn"><a style="color: black" href="{{ url_for('goals.edit_goal_files2', selected_goal_id=goal.id) }}">קבצים</a></button>

			<button type="button" id="act_btn"><a style="color: black" href="{{ url_for('goals.edit_goal_todos2', selected_goal_id=goal.id) }}">משימות להשגת היעד</a></button>
			
			<button type="button" id="act_btn"><a style="color: black" href="{{ url_for('destinations.show_dummy_student_tree2') }}">תצוגת מטרות כעץ</a></button>
			
			<button type="button" id="act_btn"><a style="color: black" href="{{ url_for('destinations.goal_from_destination_delete2', selected_goal_id=goal.id) }}">מחק</a></button>		
			
			<button class="accordion" id="accordion_title">יעד: {{ goal.id }}:     {{ goal.title }}</button>
			
			<div class="panel" id="act_btn">
				<p>תאור היעד: {{ goal.body }}</p>
			
			</div>
		{% endfor %}
	
	</div>
  
  </br>
  
 
  	
<script type="text/javascript" src="{{ url_for('static', filename='js/tree_list_plus.js') }}"></script>
<script>
var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
  acc[i].onclick = function() {
    this.classList.toggle("active");
    var panel = this.nextElementSibling;
    if (panel.style.maxHeight){
      panel.style.maxHeight = null;
    } else {
      panel.style.maxHeight = panel.scrollHeight + "px";
    } 
  }
}
</script>



{% endblock %}