{% extends "layout.html" %} 

{% block content %}

<style>
button.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

button.accordion.active, button.accordion:hover {
    background-color: #ddd;
}

button.accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

button.accordion.active:after {
    content: "\2212";
}

div.panel {last_name
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}	
	
table {
    font-family: arial, sans-serif;
    border-collapse: separate;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    padding: 5px;
	align: center;
}

table, th, td {
    border: 1px solid black;
	text-align: center;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.st_table tr:nth-child(even){
        background: #dae5f4;
    }

</style>
	
<div class="container">	

	<h2><strong><center><div>יעדי התלמיד:  {{ std.first_name }} {{ std.last_name }} </div></center></strong></h2>
	<p></p>
	
	<h2><strong><center><div> עבור המטרה:  {{ dst.title }}</div></center></strong></h2>
	<p></p>
		
	<table class="st_table" style="width:100%">
		<tr>		
			<th> מספר היעד </th>			
			<th> כותרת היעד </th>
			<th> תאור היעד </th>
			<th> סטאטוס היעד </th>
			<th> תאריך יעד </th>			
		</tr>
		
		
		
		

	</br>
	
	<h4>
		<button class="accordion" id="green_header" ><strong> עבור המטרה:  {{ dst.title }}</strong></button>
		<div class="panel" id="green_ppp">
		  <p class="ppp">{{ dst.body }}</p>
		</div>
	</h4> 

	<br>
	
	<!--
	<form method="POST" action="{{ url_for('students.post_goal_to_student_add2', selected_goal_id=std_goal.goal_id, selected_student_id=std.id) }}", destination='' enctype="multipart/form-data">	
	-->

		<table class="st_table" style="width:100%">
		
			<tr>
			
				<th> מספר היעד </th>			
				<th> כותרת היעד </th>
				<th> תאור היעד </th>
				<th> סטאטוס היעד </th>
				<th> תאריך יעד </th>
			
			{% for std_goal in form.std_goals %}
	<form method="POST" action="{{ url_for('students.post_goal_to_student_add2', selected_goal_id=std_goal.goal_id, selected_student_id=std.id) }}", destination='' enctype="multipart/form-data">	
								
				<tr>
					<td>{{ std_goal.goal_id }}</td>
					<td>{{ std_goal.goal_title }}</td>
					<td>{{ std_goal.goal_body }}</td> 
					<td>{{ std_goal.due_date.data }}</td>
					<td>{{ std_goal.status.data }}</td>
					
					<td>
						<button class="btn btn-success btn-xs" type="submit" value="הוסף יעד זה לתלמיד"></button>
					</td>
					
				</tr>
				
			{% endfor %}

		</table>
		
	</form>

</div>		<!-- class="container -->

<script type="text/javascript" src="{{ url_for('static', filename='js/tree_list_plus.js') }}"></script>
<script>
var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
  acc[i].onclick = function() {
    this.classList.toggle("active");
    var panel = this.nextElementSibling;
    if (panel.style.maxHeight){
      panel.style.maxHeight = null;
    } else {
      panel.style.maxHeight = panel.scrollHeight + "px";
    } 
  }
}
</script>


{% endblock %}