{% block dsts_table %}



	<table class="green_table">

		<tr>
			<td>
					
				<div type="button" style="color:black;" id="green_title" 
								   onclick="myFunction('{{dst.id}}')">
					מטרה: {{ dst.title }} 
																					
					{% for sts in statuss %}	
						{% for st in std_txts %}
							{% if st.general_txt_id==dst.id %}
								{% if st.status_id==sts.id %}
									<span style="background-color:{{ sts.color }}">{{ sts.title }}</span>
								{% endif %}
							{% endif %}
						{% endfor %}
					{% endfor %}				
				</div>
				
				<div type="button" style="color:black; background:#e6ffe6" 
								   id="{{dst.id}}" class="w3-hide  w3-center green_body">
					{{dst.body}}
				</div>
		
			</td>
		</tr>
		
	</table>		

		
<script>
function myFunction(id) {
  var x = document.getElementById(id);
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else { 
    x.className = x.className.replace(" w3-show", "");
  }
}
</script>
			
			
{% endblock dsts_table %}
			