<!-- FROM https://www.youtube.com/watch?v=XTpLbBJTOM4 -->
	
{% extends "layout.html" %} 

{% block content %}

{% with student = std %} 
{% include "std_title.html" %} 
{% endwith %} 

<!------------- DEBUG ----------------------------->

<!------------- DEBUG ----------------------------->
</br>

<center>

	<h3><strong><div>מטרות</div></strong></h3>
		
		
		<table class="gray_table profile_table" dir="rtl">	
			<thead>
				<th style="width:20%"><strong>תחומים</strong></th>

				<th style="width:80%"><strong>מטרות</strong></th> 
			</thead>
			
									
			<tbody>
				{% include "destinations/dsts_table_1/show_std_dsts.html" %} 
			</tbody>
		
		</table>
		
</center>
				
{% endblock %}
