{% block gt_line %}

<style>


</style>

	<td class="id_width">{{ gt.id }}</td>
	<td class="tag_width">{{ tag.title|replace("-", "\n") }}</td>
	
    {% set ns = namespace(st=False) %}      
	{% for sub_tag in sub_tags if (gt.is_parent_of(sub_tag)) %}  <!-- ars -->
		<td class="sub_tag_width">{{ sub_tag.title }}</td>
		{% set ns.st = True %}
		{% break %}
	{% endfor %}
		
	{% if ns.st==False %}
		<td class="sub_tag_width">No sub tag</td>
	{% endif %}
	
	<td class="title_width">{{ gt.title }}</td>
	<td class="body_width">{{ gt.body }}</td> 

                  
	<td class="sub_btn_width">
	
		<div id="add_sub" style="color:{{gt_sub_obj.color_txt}}" dir="rtl" class="collapsed" data-toggle="collapse" data-target="#{{gt.id}}Content">
			הראה {{gt_sub_obj.h_plural_name}}
		</div>
					
		<div id="add_sub" style="color:gray" dir="rtl" class="collapsed" data-toggle="collapse" data-target="#not_of_std{{gt.id}}Content">
			הוסף {{gt_sub_obj.h_name}}
		</div>
		
	</td>
	
	<td class="date_width">
		{% for st in std_txts %}
			{% if st.general_txt_id==gt.id %}
				<input type="date" style="text-align:center" id="due_date" name="due_date{{ gt.id }}" value="{{ st.due_date }}">					
			{% endif %}
		{% endfor %}
	</td>	

	<td class="status_width">
		<select class="select" onchange="this.dataset.chosen = this.value;" name="sts{{ gt.id }}" id="selected_status">	
			{% for sts in statuss %}
				{% if gt.is_parent_of(sts) %}
					<option style="color: {{ sts.color }}" value="{{ sts.color_txt }}" selected="selected">{{ sts.title }}</option>
				{% else %}
					<option style="color: {{ sts.color }}" value="{{ sts.color_txt }}">{{ sts.title }}</option>
				{% endif %}
			{% endfor %}
		</select>					
	</td>

	<td class="save_width">
		<button class="btn btn-success btn-xs" type="submit" name="txt_type_form_button_name" value="{{ gt.id }}">שמור</button>
	</td>
	
<!-- FROM https://stackoverflow.com/questions/18091866/background-color-of-selected-option -->

<script>
				
$("#color_me").change(function(){
    $("#color_me").attr("color") = $("option:selected", this).attr("color");
});

</script>


{% endblock gt_line %}