{% block edit_one_std_goal %}

<style>
button.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    #text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

button.accordion.active, button.accordion:hover {
    background-color: #ddd;
}

button.accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

button.accordion.active:after {
    content: "\2212";
}

div.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
</style>

<div> IN C:\Users\yasmi\Documents\מנטא\app\students\templates\goals\edit_one_std_goal_form.html </div>

		</br></br>
		
		{% include "./goals/one_std_goal_actions.html" %}
		
		<button class="accordion"> יעד:  {{ std_goal.goal_title }} </button>
		<div class="panel">
		  <button> תאור היעד:  {{ std_goal.goal_title }} </button>				
		</div>
		
		<div>סטאטוס:
			<select class="select" name="selected_status" id="selected_status">	
				{% for sts in statuss %}
					{% if sts.id == std_goal.status_id %}
						<option style="color:{{ sts.color }}" value="{{ sts.title }}" selected="selected">{{ sts.title }}</option>
					{% else %}
						<option style="color:{{ sts.color }}" value="{{ sts.title }}">{{ sts.title }}</option>
					{% endif %}
				{% endfor %}
			</select>					
		</div>
				

<script>
var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
  acc[i].onclick = function() {
    this.classList.toggle("active");
    var panel = this.nextElementSibling;
    if (panel.style.maxHeight){
      panel.style.maxHeight = null;
    } else {
      panel.style.maxHeight = panel.scrollHeight + "px";
    } 
  }
}
</script>

{% endblock edit_one_std_goal %}