	<!-- FROM https://www.youtube.com/watch?v=XTpLbBJTOM4 -->

{% block show_std_profile_by_tag %}

<style>

</style>

</br>
	
<table class="profile_table gray_table">	
	
	<thead>
		<tr>	
			<th style="background-color:#0089b3; color:#ffffcc; width:100%;">
				<strong>תחומי עיניין</strong>
			</th>
		</tr>
	</thead>
	
	<tbody>
	
		
			{% with part=sbj, 
					prf_parts_list=prf_subjects, parts_not_of_prf=subjects_not_of_prf,
					title_box="blue_title", body_box="blue_body" %}
				{% include "./profile/subjects_of_interest/show_std_prf_subjects.html" %} 
			{% endwith %}
				
						
		<tr>
			{% include "profile/subjects_of_interest/sbj_buttons.html"  %}
		</tr>
		
		<!-- DEBUG --

		<!-- DEBUG -->
	
	</tbody>
	
</table>



<script>

// FROM https://youtu.be/I2dJuNwlIH0?t=717	
	let tag_select = document.getElementById('tag');
	let sub_tag_select = document.getElementById('sub_tag');
	
	tag_select.onchange = function()  {
		
		console.log("In TAG CHANGE FUNCTION");
		
		tag_id = tag_select.value;
		console.log("tag_id");
		console.log(tag_id);
		
		sub_tag_id = sub_tag_select.value;
		console.log("sub_tag_id");
		console.log(sub_tag_id);


			fetch('/sub_tag/' + tag_id).then(function(response)  {
			response.json().then(function(data) {
				
				// FROM https://stackoverflow.com/questions/2738254/javascript-innerhtml-not-working-with-html-select-menus
				while ( sub_tag_select.childNodes.length >= 1 )   {
					
					console.log("REMOVING sub_tag_select.firstChild from SUB_TAG_SELECT ");
					console.log(sub_tag_select.firstChild);

					sub_tag_select.removeChild(sub_tag_select.firstChild);       
				}

				for(let sub_tag of data.sub_tags)  {
					
					console.log("IN let sub_tag of data.sub_tags");
					console.log("sub_tag");
					console.log(sub_tag);
					console.log(sub_tag.id);
					console.log(sub_tag.title);
					
					newOption = document.createElement('option');
					newOption.value=sub_tag.id;
					newOption.text=sub_tag.title;
					sub_tag_select.appendChild(newOption);
				}	
				
				sub_tag_select.disabled = false;
				console.log("sub_tag_select.disabled");
				console.log(sub_tag_select.disabled);
				
			});
		});
	}



	sub_tag_select.onclick = function()  {

		tag_id = tag_select.value;
		console.log("IN sub_tag_select.onchange TAG_ID:");
		console.log(tag_id);
	
		sub_tag_id = sub_tag_select.value;
		console.log("SUB_TAG_ID:");
		console.log(sub_tag_id);
		
	
	//fetch('/tag_sub_tag_to_profile_add/' + tag_id + '/' + sub_tag_id);

		var data = {
			'tag_id': tag_id,
			'sub_tag_id': sub_tag_id
			}
			
			console.log("data");
			console.log(data);
			console.log($.ajax);
			
		$.ajax( {
			url: '/tag_sub_tag_to_profile_add',
			type: 'POST',
			data: data, 
			success: function(response) {
				location.reload(response);
			}
		
		} ); 
		
	}  // END sub_tag_select.onclick 
	
</script>



<!-- FROM https://codepen.io/coderivyn/pen/NNqgGK  -->
<script>

</script>




				
{% endblock show_std_profile_by_tag %}