
{% block edit_std_dsts %}

<div class="container" id="container_id">	
	<h2><strong><center><div style="color:#142c57" >עדכן את מטרות התלמיד:  {{ std.first_name }} {{ std.last_name }} </div></center></strong></h2>
	
	</br>
	
	{% for std_dst in student_dsts %}	
	
		</br>
		</br>
		
		<table class="blue_table">	
		
			<tr>	
				<th> מספר המטרה </th>				
				<th> כותרת המטרה </th>
				<th> תאור המטרה </th>
				<th> תאריך להשלמת המטרה </th>
				<th> סטאטוס המטרה </th>

			</tr>
			
		{% include "./destinations/edit_std_dst_line.html" %}				
																	
		</table>
	
	{% endfor %}
	
</div>   <!-- container -->

{% endblock edit_std_dsts %}