{% extends "layout.html" %} 

{% block content %}

{% block edit_std_dst_by_tag %} 

{% block include "edit_std_actions.html" %} 


<div class="container" id="container_id">	

	<button class="btn btn-info btn-xs" id="add_button">
		<h5><strong>	
			<a href="{{ url_for('students.destination_to_student_add2', selected_student_id=std.id) }}">הוסף מטרה</a>
		<strong></h5>
	</button>

	<h2><strong><center><div>מטרות</div></center></strong></h2>
	<p></p>
	

	</br>
	{% for tag in tags %}

		{% for ar in age_ranges %}  <!-- ars -->
			{% for dst in destinations if (dst.is_parent_of(ar) and dst.is_parent_of(tag)) %}
												
				<div><h4><strong><u> נושא: {{ tag.title }}</u></strong></h4></div>						
						
						{% include "./destinations/std_edit_one_dst.html" %}
			
			{% endfor %} <!-- for.. if.. if  --> 
		{% endfor %}  <!-- ars -->			
		
	{% endfor %}  <!-- all tags -->

		
</div>   <!-- container -->

{% endblock  edit_std_dst_by_tag %}
{% endblock %}