{% block dbg_1 %}

<script id="code">
function init() {
      if (window.goSamples) goSamples();  // init for these samples -- you don't need to call this
      var $ = go.GraphObject.make;  // for conciseness in defining templates

      myDiagram =
        $(go.Diagram, "myDiagramDiv",  // create a Diagram for the DIV HTML element
          {
		    // FROM show tree
		    initialAutoScale: go.Diagram.UniformToFill,  // automatically scale down to show whole tree
            maxScale: 0.25,
            contentAlignment: go.Spot.Center,  // center the tree in the viewport
            "animationManager.isEnabled": false,
            layout: $(go.TreeLayout,
                      { angle: 90, sorting: go.TreeLayout.SortingAscending }),
            maxSelectionCount: 1,  // only one node may be selected at a time in each diagram
			// FROM show tree
			
			
            "animationManager.isEnabled": false,
            // allow double-click in background to create a new node
            "clickCreatingTool.archetypeNodeData": { text: "Node", color: "white" },
            // allow Ctrl-G to call groupSelection()
            "commandHandler.archetypeGroupData": { text: "Group", isGroup: true, color: "blue" },
            // enable undo & redo
            "undoManager.isEnabled": true,
            // automatically show the state of the diagram's model on the page
            "ModelChanged": function(e) {
              if (e.isTransactionFinished) {
                document.getElementById("savedModel").textContent = myDiagram.model.toJson();
              }
            }
          });
		  

      // Define a node template that is shared by both diagrams
      var myNodeTemplate =
        $(go.Node, "Auto",
          { locationSpot: go.Spot.Center, },
          new go.Binding("text", "key", go.Binding.toString),  // for sorting
		  
<!-- FROM https://forum.nwoods.com/t/centering-textblocks-in-panels/7941/9  -->	
        $(go.Panel, "Vertical",
          $(go.Panel, "Auto",
            $(go.Shape, "Rectangle", { stroke: "black", fill: "yellow" },
			new go.Binding("fill", "color")),
            $(go.TextBlock, {  margin: 5, stroke:"black", textAlign: "center", font: "12pt sans-serif" , editable:true}, 
			new go.Binding("text", "name").makeTwoWay())
          ),
		  
          $(go.Panel, "Auto", 
            $(go.Shape, "Rectangle", { stroke: "black", strokeWidth: 2, fill: "lightblue",  },
			new go.Binding("fill", "color2")),
            $(go.TextBlock, { margin: 5, stroke: "black", textAlign: "center", font: "12pt sans-serif" , editable:true}, 
			new go.Binding("text", "status"))
          ),
		  

        ),
								
        );  // END myNodeTemplate
/******************************************************
      // These nodes have text surrounded by a rounded rectangle
      // whose fill color is bound to the node data.
      // The user can drag a node by dragging its TextBlock label.
      // Dragging from the Shape will start drawing a new link.
      myDiagram.nodeTemplate =
        $(go.Node, "Auto",
          { locationSpot: go.Spot.Center },
          new go.Binding("location", "loc", go.Point.parse).makeTwoWay(go.Point.stringify),
          $(go.Shape, "Rectangle",
            {
              stroke: null, strokeWidth: 0,
              fill: "white", // the default fill, if there is no data-binding
              portId: "", cursor: "pointer",  // the Shape is the port, not the whole Node
              // allow all kinds of links from and to this port
              fromLinkable: true, fromLinkableSelfNode: true, fromLinkableDuplicates: true,
              toLinkable: true, toLinkableSelfNode: true, toLinkableDuplicates: true
            },
            new go.Binding("fill", "color")),
          $(go.TextBlock,
            {
              font: "bold 18px sans-serif",
              stroke: '#111',
              margin: 8,  // make some extra space for the shape around the text
              isMultiline: false,  // don't allow newlines in text
              editable: true  // allow in-place editing by user
            },
            new go.Binding("text", "text").makeTwoWay())
        );

      // The link shape and arrowhead have their stroke brush data bound to the "color" property
      myDiagram.linkTemplate =
        $(go.Link,
          { toShortLength: 3, relinkableFrom: true, relinkableTo: true },  // allow the user to relink existing links
          $(go.Shape,
            { strokeWidth: 2 },
            new go.Binding("stroke", "color")),
          $(go.Shape,
            { toArrow: "Standard", stroke: null },
            new go.Binding("fill", "color"))
        );
*******************************************************/

		  
	  // FROM show tree #############################
      // Groups consist of a title in the color given by the group node data
      // above a translucent gray rectangle surrounding the member parts
      myDiagram.groupTemplate =
        $(go.Group, "Vertical",
          {
            selectionObjectName: "PANEL",  // selection handle goes around shape, not label
            ungroupable: true
          },  // enable Ctrl-Shift-G to ungroup a selected Group
          $(go.TextBlock,
            {
              font: "bold 19px sans-serif",
              isMultiline: false,  // don't allow newlines in text
              editable: true  // allow in-place editing by user
            },
            new go.Binding("text", "text").makeTwoWay(),
            new go.Binding("stroke", "color")),
          $(go.Panel, "Auto",
            { name: "PANEL" },
            $(go.Shape, "Rectangle",  // the rectangular shape around the members
              { fill: "rgba(128,128,128,0.2)", stroke: "gray", strokeWidth: 3 }),
            $(go.Placeholder, { padding: 10 })  // represents where the members are
          )
        );
	myDiagram.nodeTemplate = myNodeTemplate;
	// FROM show tree #############################
	
    // Create the tree model containing TOTAL nodes, with each node having a variable number of children
    function setupDiagram(total) {
		if (total === undefined) total = '{{ student.destinations|length }}';  // total should be the number of destinations
		var nodeDataArray = [];
		var i=0;			
		nodeDataArray.push({
		key: i,
		color: go.Brush.randomColor(),
		name: '{{ student.first_name }} {{ student.last_name }}',
		});
		
		i=1;		
	    {% for dest in student.destinations %}  // set the nodes text to students destinations	
			nodeDataArray.push({
				key: i,
				color: go.Brush.randomColor(),
				color2: go.Brush.randomColor(),
				name: '{{ dest.destination.title }}',
			},
			);
			
			nodeDataArray[i].parent = 0;   // all the destinations parent is student
			var j=i+1;
			{% for goal in student.goals if (goal.dst_id==dest.destination_id) %}  // set the nodes text to destinations goals 	
				nodeDataArray.push(
				{
					key: j,
					//color:  go.Brush.randomColor(),
					color: nodeDataArray[i].color,
					color2: '{{ goal.status_color }}',
					name: 'יעד: {{ goal.goal_title }} \n\n' ,
					status: 'סטאטוס: {{ goal.status_title }}',						
				} );
				
				nodeDataArray[j].parent = nodeDataArray[i].key;				
				var k=j+1;
					{% for todo in student.todos if ( goal.goal_id == todo.goal_id ) %}  // set the nodes text to goal todos	
						nodeDataArray.push({
							key: k,
							// color:  go.Brush.randomColor(),
							color: nodeDataArray[i].color,
							name: ' משימה: {{ todo.todo_title }} \n\n',
							status: 'סטאטוס: {{ todo.status_title }}',
							color2: '{{ todo.status_color }}',	
						});
						nodeDataArray[k].parent = nodeDataArray[j].key;
						k++; 		
					{% endfor %}  //todos loop			
				j++;
				j=k;
				
			{% endfor %}  //goals loop			
			
			i=j;			
        {% endfor %}  // destinations seting text loop

      myDiagram.model = new go.TreeModel(nodeDataArray);
    }  // END setupDiagram
	setupDiagram();
	
      // Create the Diagram's Model:
	  // **********************************************
	  /***************************************************
      var nodeDataArray = [
        { key: 1, text: "Alpha", color: "#B2DFDB", state: "one" },
        { key: 2, text: "Beta", color: "#B2B2DB", state: "two", password: "1234" },
        { key: 3, text: "Gamma", color: "#1DE9B6", state: 2, group: 5, flag: false, choices: [1, 2, 3, 4, 5] },
        { key: 4, text: "Delta", color: "#00BFA5", state: "three", group: 5, flag: true },
        { key: 5, text: "Epsilon", color: "#00BFA5", isGroup: true }
      ];
      var linkDataArray = [
        { from: 1, to: 2, color: "#5E35B1" },
        { from: 2, to: 2, color: "#5E35B1" },
        { from: 3, to: 4, color: "#6200EA" },
        { from: 3, to: 1, color: "#6200EA" }
      ];
	  *************************************************************/
	  // *********************************************************
	  
      //myDiagram.model = new go.GraphLinksModel(nodeDataArray, linkDataArray);

      // some shared model data
      //myDiagram.model.modelData = { test: true, hello: "world", version: 42 };

      // select a Node, so that the first Inspector shows something
      myDiagram.select(myDiagram.nodes.first());


      // Declare which properties to show and how.
      // By default, all properties on the model data objects are shown unless the inspector option "includesOwnProperties" is set to false.

      // Show the primary selection's data, or blanks if no Part is selected:
      var inspector = new Inspector('myInspectorDiv', myDiagram,
        {
          // allows for multiple nodes to be inspected at once
          multipleSelection: true,
          // max number of node properties will be shown when multiple selection is true
          showSize: 4,
          // when multipleSelection is true, when showAllProperties is true it takes the union of properties
          // otherwise it takes the intersection of properties
          showAllProperties: true,
          // uncomment this line to only inspect the named properties below instead of all properties on each object:
          // includesOwnProperties: false,
          properties: {
            "text": {},
            // key would be automatically added for nodes, but we want to declare it read-only also:
            "key": { readOnly: true, show: Inspector.showIfPresent },
            // color would be automatically added for nodes, but we want to declare it a color also:
            "color": { show: Inspector.showIfPresent, type: 'color' },
            // Comments and LinkComments are not in any node or link data (yet), so we add them here:
            "Comments": { show: Inspector.showIfNode },
            "LinkComments": { show: Inspector.showIfLink },
            "isGroup": { readOnly: true, show: Inspector.showIfPresent },
            "flag": { show: Inspector.showIfNode, type: 'checkbox' },
            "state": {
              show: Inspector.showIfNode,
              type: "select",
              choices: function(node, propName) {
                if (Array.isArray(node.data.choices)) return node.data.choices;
                return ["one", "two", "three", "four", "five"];
              }
            },
            "choices": { show: false },  // must not be shown at all
            // an example of specifying the <input> type
            "password": { show: Inspector.showIfPresent, type: 'password' }
          }
        });

      // Always show the first Node:
      var inspector2 = new Inspector('myInspectorDiv2', myDiagram,
        {
          // By default the inspector works on the Diagram selection.
          // This property lets us inspect a specific object by calling Inspector.inspectObject.
          inspectSelection: false,
          properties: {
            "text": {},
            // This property we want to declare as a color, to show a color-picker:
            "color": { type: 'color' },
            // key would be automatically added for node data, but we want to declare it read-only also:
            "key": { readOnly: true, show: Inspector.showIfPresent }
          }
        });
      // If not inspecting a selection, you can programatically decide what to inspect (a Part, or a JavaScript object)
      inspector2.inspectObject(myDiagram.nodes.first().data);

      // Always show the model.modelData:
      var inspector3 = new Inspector('myInspectorDiv3', myDiagram,
        {
          inspectSelection: false
        });
      inspector3.inspectObject(myDiagram.model.modelData);
    }
</script>

{% endblock dbg_1 %}
