

<!-- from http://gojs.net/latest/samples/localView.html  -->
<!-- add a textbox for status from https://gojs.net/latest/intro/groups.html -->

<!DOCTYPE html>
<html>
<head>

	<!-- Inspector gojs extension file -->
	<meta charset="UTF-8">
		
		<!-- gojs extension files -->		
		<script src="https://unpkg.com/gojs/release/go-debug.js"></script>
		
		<link rel='stylesheet' href='https://gojs.net/latest/extensions/DataInspector.css' />
		
		<script src="https://gojs.net/latest/extensions/DataInspector.js"></script>
		
		<script src="https://gojs.net/latest/extensions/ExtendedBrush.js"></script>

		
		<!--  gojs extension files -->
		
		
	
{% include "./backup/dbg_inspector_1.html" %}
</head>

<body onload="init()">

{% include "./backup/dbg_inspector_2.html" %}
</body>

</html>

