<style>
html {
  height: 100%;
}

body {
  background: #000;
  height: 100%;
}

.dots {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dot {
  background: #fff;
  animation: height 5s linear infinite;
  border-radius: 2px;
  width: 2px;
  height: 2px;
  position: relative;
  opacity: 0.2;
}
.dot:nth-child(0) {
  left: -68px;
  top: -207px;
  animation-delay: 0s;
}
.dot:nth-child(1) {
  left: 473px;
  top: -280px;
  animation-delay: 0.165s;
}
.dot:nth-child(2) {
  left: -160px;
  top: -128px;
  animation-delay: 0.432s;
}
.dot:nth-child(3) {
  left: 250px;
  top: -230px;
  animation-delay: 0.846s;
}
.dot:nth-child(4) {
  left: -98px;
  top: -51px;
  animation-delay: 0.18s;
}
.dot:nth-child(5) {
  left: 235px;
  top: -269px;
  animation-delay: 0.735s;
}
.dot:nth-child(6) {
  left: -144px;
  top: 464px;
  animation-delay: 0.918s;
}
.dot:nth-child(7) {
  left: -189px;
  top: -312px;
  animation-delay: 1.323s;
}
.dot:nth-child(8) {
  left: -335px;
  top: -208px;
  animation-delay: 1.32s;
}
.dot:nth-child(9) {
  left: 217px;
  top: 379px;
  animation-delay: 1.755s;
}
.dot:nth-child(10) {
  left: 55px;
  top: -6px;
  animation-delay: 1.05s;
}
.dot:nth-child(11) {
  left: 517px;
  top: 554px;
  animation-delay: 1.287s;
}
.dot:nth-child(12) {
  left: 471px;
  top: -65px;
  animation-delay: 0.468s;
}
.dot:nth-child(13) {
  left: 451px;
  top: 583px;
  animation-delay: 0.78s;
}
.dot:nth-child(14) {
  left: -173px;
  top: -218px;
  animation-delay: 0.252s;
}
.dot:nth-child(15) {
  left: 40px;
  top: 388px;
  animation-delay: 3.6s;
}
.dot:nth-child(16) {
  left: 503px;
  top: -280px;
  animation-delay: 0.096s;
}
.dot:nth-child(17) {
  left: 471px;
  top: -338px;
  animation-delay: 4.539s;
}
.dot:nth-child(18) {
  left: 416px;
  top: 32px;
  animation-delay: 2.484s;
}
.dot:nth-child(19) {
  left: 550px;
  top: -230px;
  animation-delay: 4.389s;
}
.dot:nth-child(20) {
  left: 423px;
  top: -279px;
  animation-delay: 3.42s;
}
.dot:nth-child(21) {
  left: 96px;
  top: 192px;
  animation-delay: 2.142s;
}
.dot:nth-child(22) {
  left: 9px;
  top: -78px;
  animation-delay: 4.422s;
}
.dot:nth-child(23) {
  left: 492px;
  top: -115px;
  animation-delay: 1.173s;
}
.dot:nth-child(24) {
  left: -266px;
  top: -277px;
  animation-delay: 6.84s;
}
.dot:nth-child(25) {
  left: 358px;
  top: 235px;
  animation-delay: 5.85s;
}
.dot:nth-child(26) {
  left: -31px;
  top: -56px;
  animation-delay: 6.942s;
}
.dot:nth-child(27) {
  left: 46px;
  top: -14px;
  animation-delay: 7.209s;
}
.dot:nth-child(28) {
  left: 580px;
  top: 135px;
  animation-delay: 0.42s;
}
.dot:nth-child(29) {
  left: 199px;
  top: 252px;
  animation-delay: 4.524s;
}
.dot:nth-child(30) {
  left: 154px;
  top: 12px;
  animation-delay: 0.63s;
}
.dot:nth-child(31) {
  left: -193px;
  top: -21px;
  animation-delay: 3.441s;
}
.dot:nth-child(32) {
  left: -389px;
  top: 186px;
  animation-delay: 1.824s;
}
.dot:nth-child(33) {
  left: 581px;
  top: 414px;
  animation-delay: 7.722s;
}
.dot:nth-child(34) {
  left: 446px;
  top: -279px;
  animation-delay: 3.672s;
}
.dot:nth-child(35) {
  left: -282px;
  top: 96px;
  animation-delay: 0.63s;
}
.dot:nth-child(36) {
  left: -162px;
  top: 450px;
  animation-delay: 7.344s;
}
.dot:nth-child(37) {
  left: 455px;
  top: 571px;
  animation-delay: 2.109s;
}
.dot:nth-child(38) {
  left: 194px;
  top: 524px;
  animation-delay: 4.902s;
}
.dot:nth-child(39) {
  left: -235px;
  top: 64px;
  animation-delay: 8.073s;
}
.dot:nth-child(40) {
  left: 402px;
  top: -380px;
  animation-delay: 6.84s;
}
.dot:nth-child(41) {
  left: -360px;
  top: 527px;
  animation-delay: 1.107s;
}
.dot:nth-child(42) {
  left: 313px;
  top: 428px;
  animation-delay: 11.34s;
}
.dot:nth-child(43) {
  left: -269px;
  top: 140px;
  animation-delay: 0.903s;
}
.dot:nth-child(44) {
  left: 189px;
  top: 242px;
  animation-delay: 6.732s;
}
.dot:nth-child(45) {
  left: -134px;
  top: -149px;
  animation-delay: 12.15s;
}
.dot:nth-child(46) {
  left: 15px;
  top: -4px;
  animation-delay: 9.384s;
}
.dot:nth-child(47) {
  left: 493px;
  top: 200px;
  animation-delay: 1.974s;
}
.dot:nth-child(48) {
  left: -96px;
  top: -372px;
  animation-delay: 14.112s;
}
.dot:nth-child(49) {
  left: -225px;
  top: 285px;
  animation-delay: 6.615s;
}
.dot:nth-child(50) {
  left: 418px;
  top: -113px;
  animation-delay: 12.45s;
}
.dot:nth-child(51) {
  left: -46px;
  top: 354px;
  animation-delay: 13.005s;
}
.dot:nth-child(52) {
  left: -68px;
  top: 69px;
  animation-delay: 3.744s;
}
.dot:nth-child(53) {
  left: 17px;
  top: 368px;
  animation-delay: 5.088s;
}
.dot:nth-child(54) {
  left: -79px;
  top: 376px;
  animation-delay: 7.452s;
}
.dot:nth-child(55) {
  left: 161px;
  top: 209px;
  animation-delay: 7.095s;
}
.dot:nth-child(56) {
  left: 358px;
  top: 430px;
  animation-delay: 0.168s;
}
.dot:nth-child(57) {
  left: -142px;
  top: 192px;
  animation-delay: 14.193s;
}
.dot:nth-child(58) {
  left: 108px;
  top: 39px;
  animation-delay: 2.436s;
}
.dot:nth-child(59) {
  left: -240px;
  top: 332px;
  animation-delay: 13.275s;
}
.dot:nth-child(60) {
  left: 226px;
  top: -117px;
  animation-delay: 7.38s;
}
.dot:nth-child(61) {
  left: 493px;
  top: 10px;
  animation-delay: 12.078s;
}
.dot:nth-child(62) {
  left: 56px;
  top: -12px;
  animation-delay: 0.93s;
}
.dot:nth-child(63) {
  left: 93px;
  top: 418px;
  animation-delay: 4.914s;
}
.dot:nth-child(64) {
  left: 296px;
  top: 408px;
  animation-delay: 2.88s;
}
.dot:nth-child(65) {
  left: 61px;
  top: 401px;
  animation-delay: 14.04s;
}
.dot:nth-child(66) {
  left: 161px;
  top: 202px;
  animation-delay: 17.622s;
}
.dot:nth-child(67) {
  left: 366px;
  top: -275px;
  animation-delay: 16.08s;
}
.dot:nth-child(68) {
  left: 219px;
  top: 244px;
  animation-delay: 9.18s;
}
.dot:nth-child(69) {
  left: 468px;
  top: -364px;
  animation-delay: 8.28s;
}
.dot:nth-child(70) {
  left: 3px;
  top: -143px;
  animation-delay: 7.56s;
}
.dot:nth-child(71) {
  left: 158px;
  top: -128px;
  animation-delay: 7.668s;
}
.dot:nth-child(72) {
  left: -249px;
  top: 86px;
  animation-delay: 16.416s;
}
.dot:nth-child(73) {
  left: 574px;
  top: 66px;
  animation-delay: 6.789s;
}
.dot:nth-child(74) {
  left: -348px;
  top: 61px;
  animation-delay: 21.534s;
}
.dot:nth-child(75) {
  left: 124px;
  top: 543px;
  animation-delay: 20.025s;
}
.dot:nth-child(76) {
  left: 575px;
  top: -330px;
  animation-delay: 2.736s;
}
.dot:nth-child(77) {
  left: 118px;
  top: 177px;
  animation-delay: 0.924s;
}
.dot:nth-child(78) {
  left: -303px;
  top: -314px;
  animation-delay: 19.89s;
}
.dot:nth-child(79) {
  left: 244px;
  top: -168px;
  animation-delay: 12.561s;
}
.dot:nth-child(80) {
  left: 418px;
  top: 84px;
  animation-delay: 13.44s;
}
.dot:nth-child(81) {
  left: 182px;
  top: -22px;
  animation-delay: 18.954s;
}
.dot:nth-child(82) {
  left: 390px;
  top: -96px;
  animation-delay: 17.958s;
}
.dot:nth-child(83) {
  left: 373px;
  top: 156px;
  animation-delay: 5.478s;
}
.dot:nth-child(84) {
  left: 18px;
  top: -319px;
  animation-delay: 4.536s;
}
.dot:nth-child(85) {
  left: 419px;
  top: 484px;
  animation-delay: 11.22s;
}
.dot:nth-child(86) {
  left: 104px;
  top: -304px;
  animation-delay: 2.064s;
}
.dot:nth-child(87) {
  left: 404px;
  top: 33px;
  animation-delay: 5.22s;
}
.dot:nth-child(88) {
  left: -229px;
  top: -104px;
  animation-delay: 2.904s;
}
.dot:nth-child(89) {
  left: 512px;
  top: -222px;
  animation-delay: 6.675s;
}
.dot:nth-child(90) {
  left: 382px;
  top: -7px;
  animation-delay: 18.36s;
}
.dot:nth-child(91) {
  left: -214px;
  top: -97px;
  animation-delay: 24.57s;
}
.dot:nth-child(92) {
  left: 311px;
  top: -95px;
  animation-delay: 1.104s;
}
.dot:nth-child(93) {
  left: 559px;
  top: 344px;
  animation-delay: 12.276s;
}
.dot:nth-child(94) {
  left: 598px;
  top: 362px;
  animation-delay: 24.252s;
}
.dot:nth-child(95) {
  left: 122px;
  top: 112px;
  animation-delay: 6.84s;
}
.dot:nth-child(96) {
  left: -282px;
  top: -397px;
  animation-delay: 14.688s;
}
.dot:nth-child(97) {
  left: 511px;
  top: 316px;
  animation-delay: 11.64s;
}
.dot:nth-child(98) {
  left: -24px;
  top: -324px;
  animation-delay: 26.166s;
}
.dot:nth-child(99) {
  left: 447px;
  top: 471px;
  animation-delay: 19.305s;
}
.dot:nth-child(100) {
  left: -274px;
  top: 349px;
  animation-delay: 26.7s;
}
.dot:nth-child(101) {
  left: 101px;
  top: -336px;
  animation-delay: 19.089s;
}
.dot:nth-child(102) {
  left: -376px;
  top: 131px;
  animation-delay: 23.868s;
}
.dot:nth-child(103) {
  left: -245px;
  top: 152px;
  animation-delay: 29.355s;
}
.dot:nth-child(104) {
  left: -26px;
  top: -6px;
  animation-delay: 16.848s;
}
.dot:nth-child(105) {
  left: -204px;
  top: 104px;
  animation-delay: 25.2s;
}
.dot:nth-child(106) {
  left: -260px;
  top: 154px;
  animation-delay: 28.62s;
}
.dot:nth-child(107) {
  left: -74px;
  top: 283px;
  animation-delay: 21.507s;
}
.dot:nth-child(108) {
  left: -173px;
  top: 87px;
  animation-delay: 28.188s;
}
.dot:nth-child(109) {
  left: 383px;
  top: 381px;
  animation-delay: 17.004s;
}
.dot:nth-child(110) {
  left: -17px;
  top: -39px;
  animation-delay: 20.46s;
}
.dot:nth-child(111) {
  left: -130px;
  top: 521px;
  animation-delay: 5.328s;
}
.dot:nth-child(112) {
  left: 220px;
  top: 480px;
  animation-delay: 7.392s;
}
.dot:nth-child(113) {
  left: -391px;
  top: -141px;
  animation-delay: 7.119s;
}
.dot:nth-child(114) {
  left: 70px;
  top: 559px;
  animation-delay: 30.78s;
}
.dot:nth-child(115) {
  left: 541px;
  top: -185px;
  animation-delay: 33.465s;
}
.dot:nth-child(116) {
  left: -119px;
  top: -36px;
  animation-delay: 19.836s;
}
.dot:nth-child(117) {
  left: 401px;
  top: -313px;
  animation-delay: 9.477s;
}
.dot:nth-child(118) {
  left: 134px;
  top: 256px;
  animation-delay: 4.956s;
}
.dot:nth-child(119) {
  left: 250px;
  top: 47px;
  animation-delay: 25.347s;
}
.dot:nth-child(120) {
  left: 290px;
  top: -320px;
  animation-delay: 28.8s;
}
.dot:nth-child(121) {
  left: 546px;
  top: 379px;
  animation-delay: 21.417s;
}
.dot:nth-child(122) {
  left: -362px;
  top: 269px;
  animation-delay: 35.868s;
}
.dot:nth-child(123) {
  left: -24px;
  top: 136px;
  animation-delay: 23.247s;
}
.dot:nth-child(124) {
  left: 279px;
  top: 519px;
  animation-delay: 13.392s;
}
.dot:nth-child(125) {
  left: 379px;
  top: 95px;
  animation-delay: 30.75s;
}
.dot:nth-child(126) {
  left: 24px;
  top: -260px;
  animation-delay: 16.632s;
}
.dot:nth-child(127) {
  left: -148px;
  top: -51px;
  animation-delay: 16.002s;
}
.dot:nth-child(128) {
  left: 318px;
  top: -218px;
  animation-delay: 9.216s;
}
.dot:nth-child(129) {
  left: 177px;
  top: 531px;
  animation-delay: 10.836s;
}
.dot:nth-child(130) {
  left: -302px;
  top: -147px;
  animation-delay: 26.91s;
}
.dot:nth-child(131) {
  left: -328px;
  top: 128px;
  animation-delay: 0.393s;
}
.dot:nth-child(132) {
  left: -65px;
  top: 593px;
  animation-delay: 2.772s;
}
.dot:nth-child(133) {
  left: 195px;
  top: 518px;
  animation-delay: 24.339s;
}
.dot:nth-child(134) {
  left: -196px;
  top: 294px;
  animation-delay: 20.502s;
}
.dot:nth-child(135) {
  left: 561px;
  top: 88px;
  animation-delay: 37.26s;
}
.dot:nth-child(136) {
  left: -274px;
  top: -250px;
  animation-delay: 29.376s;
}
.dot:nth-child(137) {
  left: -15px;
  top: -45px;
  animation-delay: 26.304s;
}
.dot:nth-child(138) {
  left: 331px;
  top: 149px;
  animation-delay: 15.732s;
}
.dot:nth-child(139) {
  left: 548px;
  top: -95px;
  animation-delay: 39.615s;
}
.dot:nth-child(140) {
  left: -137px;
  top: -89px;
  animation-delay: 5.88s;
}
.dot:nth-child(141) {
  left: -300px;
  top: 133px;
  animation-delay: 0.423s;
}
.dot:nth-child(142) {
  left: -378px;
  top: 482px;
  animation-delay: 33.654s;
}
.dot:nth-child(143) {
  left: -6px;
  top: 209px;
  animation-delay: 11.583s;
}
.dot:nth-child(144) {
  left: -364px;
  top: -288px;
  animation-delay: 28.512s;
}
.dot:nth-child(145) {
  left: -170px;
  top: 69px;
  animation-delay: 5.655s;
}
.dot:nth-child(146) {
  left: 466px;
  top: 129px;
  animation-delay: 25.404s;
}
.dot:nth-child(147) {
  left: 190px;
  top: 251px;
  animation-delay: 12.348s;
}
.dot:nth-child(148) {
  left: 294px;
  top: 111px;
  animation-delay: 15.984s;
}
.dot:nth-child(149) {
  left: 450px;
  top: 135px;
  animation-delay: 39.783s;
}
.dot:nth-child(150) {
  left: 439px;
  top: 114px;
  animation-delay: 16.65s;
}
.dot:nth-child(151) {
  left: 344px;
  top: 534px;
  animation-delay: 43.488s;
}
.dot:nth-child(152) {
  left: 158px;
  top: 551px;
  animation-delay: 38.304s;
}
.dot:nth-child(153) {
  left: 114px;
  top: -85px;
  animation-delay: 28.917s;
}
.dot:nth-child(154) {
  left: 454px;
  top: 344px;
  animation-delay: 31.416s;
}
.dot:nth-child(155) {
  left: 440px;
  top: -370px;
  animation-delay: 45.105s;
}
.dot:nth-child(156) {
  left: -177px;
  top: -102px;
  animation-delay: 3.744s;
}
.dot:nth-child(157) {
  left: -316px;
  top: -202px;
  animation-delay: 42.39s;
}
.dot:nth-child(158) {
  left: -76px;
  top: -373px;
  animation-delay: 18.486s;
}
.dot:nth-child(159) {
  left: 75px;
  top: -103px;
  animation-delay: 10.494s;
}
.dot:nth-child(160) {
  left: -347px;
  top: 244px;
  animation-delay: 38.4s;
}
.dot:nth-child(161) {
  left: 187px;
  top: -325px;
  animation-delay: 26.565s;
}
.dot:nth-child(162) {
  left: -168px;
  top: 65px;
  animation-delay: 22.356s;
}
.dot:nth-child(163) {
  left: 501px;
  top: -20px;
  animation-delay: 5.868s;
}
.dot:nth-child(164) {
  left: 267px;
  top: 333px;
  animation-delay: 32.472s;
}
.dot:nth-child(165) {
  left: -312px;
  top: -95px;
  animation-delay: 16.335s;
}
.dot:nth-child(166) {
  left: -70px;
  top: -357px;
  animation-delay: 42.33s;
}
.dot:nth-child(167) {
  left: -82px;
  top: 388px;
  animation-delay: 41.082s;
}
.dot:nth-child(168) {
  left: 466px;
  top: 449px;
  animation-delay: 32.76s;
}
.dot:nth-child(169) {
  left: 549px;
  top: -292px;
  animation-delay: 2.535s;
}
.dot:nth-child(170) {
  left: -188px;
  top: 528px;
  animation-delay: 45.39s;
}
.dot:nth-child(171) {
  left: 558px;
  top: 521px;
  animation-delay: 37.449s;
}
.dot:nth-child(172) {
  left: -102px;
  top: -344px;
  animation-delay: 35.088s;
}
.dot:nth-child(173) {
  left: 220px;
  top: 313px;
  animation-delay: 39.963s;
}
.dot:nth-child(174) {
  left: -260px;
  top: 173px;
  animation-delay: 51.156s;
}
.dot:nth-child(175) {
  left: -69px;
  top: 392px;
  animation-delay: 50.925s;
}
.dot:nth-child(176) {
  left: -389px;
  top: 48px;
  animation-delay: 47.52s;
}
.dot:nth-child(177) {
  left: 524px;
  top: -278px;
  animation-delay: 20.709s;
}
.dot:nth-child(178) {
  left: -337px;
  top: 1px;
  animation-delay: 25.098s;
}
.dot:nth-child(179) {
  left: 599px;
  top: 441px;
  animation-delay: 50.478s;
}
.dot:nth-child(180) {
  left: -133px;
  top: -394px;
  animation-delay: 41.04s;
}
.dot:nth-child(181) {
  left: 409px;
  top: 0px;
  animation-delay: 47.241s;
}
.dot:nth-child(182) {
  left: -240px;
  top: 315px;
  animation-delay: 33.852s;
}
.dot:nth-child(183) {
  left: 64px;
  top: 82px;
  animation-delay: 25.254s;
}
.dot:nth-child(184) {
  left: -370px;
  top: 318px;
  animation-delay: 9.936s;
}
.dot:nth-child(185) {
  left: 36px;
  top: 176px;
  animation-delay: 7.215s;
}
.dot:nth-child(186) {
  left: 399px;
  top: 9px;
  animation-delay: 25.11s;
}
.dot:nth-child(187) {
  left: 557px;
  top: -304px;
  animation-delay: 31.977s;
}
.dot:nth-child(188) {
  left: -333px;
  top: 2px;
  animation-delay: 33.84s;
}
.dot:nth-child(189) {
  left: -344px;
  top: 236px;
  animation-delay: 21.546s;
}
.dot:nth-child(190) {
  left: -160px;
  top: 97px;
  animation-delay: 43.32s;
}
.dot:nth-child(191) {
  left: -343px;
  top: 122px;
  animation-delay: 9.168s;
}
.dot:nth-child(192) {
  left: -52px;
  top: 495px;
  animation-delay: 24.192s;
}
.dot:nth-child(193) {
  left: 469px;
  top: -82px;
  animation-delay: 29.529s;
}
.dot:nth-child(194) {
  left: 449px;
  top: -45px;
  animation-delay: 41.322s;
}
.dot:nth-child(195) {
  left: -89px;
  top: -349px;
  animation-delay: 50.895s;
}
.dot:nth-child(196) {
  left: 459px;
  top: -115px;
  animation-delay: 42.924s;
}
.dot:nth-child(197) {
  left: 531px;
  top: 144px;
  animation-delay: 20.685s;
}
.dot:nth-child(198) {
  left: 378px;
  top: -265px;
  animation-delay: 21.978s;
}
.dot:nth-child(199) {
  left: -225px;
  top: -218px;
  animation-delay: 19.701s;
}

@keyframes height {
  0%, 100% {
    transform: scale(1);
    opacity: 0.2;
  }
  50% {
    transform: scale(1.4);
    opacity: 1;
  }
}

</style>