<!-- FROM https://codeloop.org/flask-crud-application-with-sqlalchemy/ -->

{% block show_std_profile %}

<style>

.profile_parts_table  {
	marging:1%;
	border:0;
	dir:rtl;
}

</style>

{% include "./profile/std_profile2/profile_style.html" %}

<!-----------DEBUG ----------------->

<!-----------DEBUG ----------------->

	<table class="profile_table" dir="rtl">

		{% for gt in prf_parts_list if ( (gt.is_parent_of(tag)) and (gt.is_parent_of(sub_tag)) ) %}	

			<tr>

				<div type="button" id="{{title_box}}" style="color:black; background-color:{{part.odd_color}}; marging:1%;" onclick="myFunction('{{gt.id}}')">
					מטרה: {{ gt.title }} 
																					
					{% for sts in statuss %}	
						{% for st in std_txts %}
							{% if st.general_txt_id==gt.id %}
								{% if st.status_id==sts.id %}
									<span style="background-color:{{ sts.color }}">{{ sts.title }}</span>
								{% endif %}
							{% endif %}
						{% endfor %}
					{% endfor %}				
				</div>

				<div style="color:black; background-color:{{part.even_color}}" type="button" id="{{gt.id}}" class="w3-hide  w3-center {{body_box}}">
					{{gt.body}}
				</div>
			</tr>
			
		{% endfor %}
		
	</table>  
	
<script>
function myFunction(id) {
  var x = document.getElementById(id);
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else { 
    x.className = x.className.replace(" w3-show", "");
  }
}
</script>

{% endblock show_std_profile %}