
{% block edit_one_scrt %}

<style>
button.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

button.accordion.active, button.accordion:hover {
    background-color: #ddd;
}

button.accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

button.accordion.active:after {
    content: "\2212";
}

div.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
</style>
	<select class="select" name="selected_scrt_title" id="selected_scrt_title">	
		{% for scrt in scrts %}	
			{% if scrt.title == selected_scrt_title %}	
				<option value="{{ scrt.title }}" selected="selected">{{ scrt.title }}</option>
			{% endif %}
		{% endfor %}	
								
		{% for scrt in scrts %}	
			{% if scrt.title != selected_scrt_title %}	
				<option value="{{ scrt.title }}">{{ scrt.title }}</option>
			{% endif %}
			<option value="{{ scrt.title }}">{{ scrt.title }}</option>
		{% endfor %}							
	</select>

<script>
var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
  acc[i].onclick = function() {
    this.classList.toggle("active");
    var panel = this.nextElementSibling;
    if (panel.style.maxHeight){
      panel.style.maxHeight = null;
    } else {
      panel.style.maxHeight = panel.scrollHeight + "px";
    } 
  }
}
</script>

{% endblock %}