{% extends "layout.html" %}

{% block content %}

<!-- from CodePen https://codepen.io/-a/full/amOYGp -->
<style>
.logo {
  width: 75px;
  float: left;
  margin-right: 15px;
}

.form-group {
  max-width: 500px;
}

.actions {
  padding: 10px 0;
}

.glyphicon-euro {
  font-size: 12px;
}

<!-- from https://www.w3schools.com/css/tryit.asp?filename=trycss_inline-block -->

.after-box {
    border: 3px solid red; 
}

button.accordion {
    background-color: #eee;
	font-weight: bold;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}
div.panel {
    padding: 0 18px;
    background-color: #888;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
</style>

  <center><h3> {{ tag.title }} Destinations list:</h3></center>
  <div>
  
	    {% for destination in destinations %}	 
			<br><br>						
						
			<button class="btn btn-warning btn-xs" ><a href="{{ url_for('destinations.destination_update', selected_destination_id=destination.id) }}">Edit</a></button>		
			<button class="btn btn-warning btn-xs" style="background-color:plum;"><a href="{{ url_for('destinations.show_dummy_student_tree2') }}">Show Destinations tree</a></button>
			<button class="btn btn-success btn-xs" ><a href="{{ url_for('destinations.goal_to_destination_add2', selected_destination_id=destination.id) }}">Add a Goal</a></button>
			<button class="btn btn-success btn-xs" ><a href="{{ url_for('destinations.edit_destinations_goals2', selected_destination_id=destination.id) }}">Show Goals</a></button>
			<button class="btn btn-danger btn-xs"  ><a href="{{ url_for('destinations.destination_delete2', selected_destination_id=destination.id) }}">Delete</a></button>
	
	   		<button class="accordion">Destination's title: {{ destination.title }}</button>
			<div class="panel">
			  <button>Destination's description: {{ destination.body }}.</button>				
			</div>
		    <br>
		{% endfor %}
		<center><button class="btn btn-info btn-xs"  ><a href="{{ url_for('destinations.destination_add') }}">Add a new Destination</a></button></center>
 </div>

<script type="text/javascript" src="{{ url_for('static', filename='js/tree_list_plus.js') }}"></script>
<script>
var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
  acc[i].onclick = function() {
    this.classList.toggle("active");
    var panel = this.nextElementSibling;
    if (panel.style.maxHeight){
      panel.style.maxHeight = null;
    } else {
      panel.style.maxHeight = panel.scrollHeight + "px";
    } 
  }
}
</script>

{% endblock %}



