<div class="panel-group" id="accordion1">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion1" href="#collapseOne">
			Collapsible Group #1
			</a></h4>
		</div>
		
		<div id="collapseOne" class="panel-collapse collapse in">
			<div class="panel-body">
			This is a simple accordion inner content...
			</div>
		</div>
	</div>

		  
		  

<div class="panel panel-default">

	<div class="panel-heading">
	<h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion1" href="#collapseTwo">
	Collapsible Group #2 (With nested accordion inside)
	</a></h4>
	</div>
	
	<div id="collapseTwo" class="panel-collapse collapse">
	
		<div class="panel-body">

			<!-- Here we insert another nested accordion -->

			<div class="panel-group" id="accordion2">
			
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion2" href="#collapseInnerOne">
						Collapsible Inner Group Item #1
						</a></h4>
					</div>
					<div id="collapseInnerOne" class="panel-collapse collapse in">
						<div class="panel-body">
							Anim pariatur cliche...
						</div>
					</div>
				</div>
				
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion2" href="#collapseInnerTwo">
						Collapsible Inner Group Item #2
						</a></h4>
					</div>
					<div id="collapseInnerTwo" class="panel-collapse collapse">
						<div class="panel-body">
						Anim pariatur cliche...
						</div>
					</div>
				</div>
				
			</div>

			<!-- Inner accordion ends here -->

		</div>
		
	</div>

</div>

</div>