
{% block gt_line %}

<style>


</style>

<!-- DEBUG -----------------------------
<div> gts_table\goal_line.html </div>
---- DEBUG ----------------------------->


	<td class="id_width">{{ gt.id }}</td>
	
	<td class="tag_width" style="border-left:0;">יעד למטרה מס {{dst.id}}</td>
	<td class="sub_tag_width" style="border-right:0;"></td>
	
	<td class="title_width">{{ gt.title }}</td>
	<td class="body_width">{{ gt.body }}</td> 

                  
	<td class="sub_btn1_width">
	
		<div id="add_sub" style="color:{{gt_sub_obj1.color_txt}}" dir="rtl" class="collapsed" data-toggle="collapse" data-target="#{{gt.id}}Todo">
			הראה {{gt_sub_obj1.h_plural_name}}
		</div>
					
		<div id="add_sub" style="color:gray" dir="rtl" class="collapsed" data-toggle="collapse" data-target="#not_of_std{{gt.id}}Todo">
			הוסף {{gt_sub_obj1.h_name}}
		</div>
		
	</td>
	                  
	<td class="sub_btn2_width">
	
		<div id="add_sub" style="color:{{gt_sub_obj2.color_txt}}" dir="rtl" class="collapsed" data-toggle="collapse" data-target="#{{gt.id}}Method">
			הראה {{gt_sub_obj2.h_plural_name}}
		</div>
					
		<div id="add_sub" style="color:gray" dir="rtl" class="collapsed" data-toggle="collapse" data-target="#not_of_std{{gt.id}}Method">
			הוסף {{gt_sub_obj2.h_name}}
		</div>
		
	</td>
	
	<td class="date_width">
		{% for st in std_txts %}
			{% if st.general_txt_id==gt.id %}
				<input type="date" style="text-align:center" id="due_date" name="due_date{{ gt.id }}" value="{{ st.due_date }}">					
			{% endif %}
		{% endfor %}
	</td>	
		
	{% set stsNs = namespace (stsColor = "") %}
	{% for sts in statuss %}
		{% if gt.is_parent_of(sts) %}
			{% set stsNs.stsColor = sts.color %}
			{% break %}
		{% endif %}
	{% endfor %}	
	<td class="status_width" style="color:{{ stsNs.stsColor }}">   <!-- ID FOT SELECTED STS COLOR -->
		<select id="selected_status" class="select" onchange="this.className=this.options[this.selectedIndex].className" name="sts{{ gt.id }}">	
			{% for sts in statuss %}
				{% if gt.is_parent_of(sts) %}
					<option class="{{ sts.color_txt }}" style="color:{{ sts.color_txt }}" value="{{ sts.title }}" selected="selected" id="{{ sts.color_txt }}">{{ sts.title }}</option>
				{% else %}
					<option class="{{ sts.color_txt }}" style="color:{{ sts.color_txt }}" value="{{ sts.title }}">{{ sts.title }}</option>
				{% endif %}
			{% endfor %}
		</select>					
	</td>
	
	<td class="save_width">
		<button class="btn btn-success btn-xs" type="submit" name="txt_type_form_button_name" value="{{ gt.id }}">שמור</button>
	</td>
	
<!-- FROM https://stackoverflow.com/questions/18091866/background-color-of-selected-option -->

<script>
// FROM https://stackoverflow.com/questions/18091866/background-color-of-selected-option/18092074				
$("#color_me").change(function(){
    $("#color_me").attr("color") = $("option:selected", this).attr("color");
});

</script>


{% endblock gt_line %}