{% block goals_table %}
	
		
		{% set ns = namespace(blue_even=False) %}      				

		{% for goal in student_goals if (dst.is_parent_of(goal)) %}  <!-- GOALS -->
		
				{% if ns.green_even==False %}
					{% set ns.green_even = True %}
				{% else %}
					{% set ns.green_even = False %}
				{% endif %}				
				
				<table class="light_blue_table" style="table-layout: fixed;">
					{% if ns.blue_even==False %}
						<tr style="background-color: #e6f2ff;">
						
					{% set ns.blue_even = True %}
					{% else %}
						<tr style="background-color: #cce5ff;">
						
					{% set ns.blue_even = False %}
					{% endif %}	
			
					{% with gt = goal, gt_obj=goal_obj, gt_sub_obj1=todo_obj, gt_sub_obj2=method_obj %}
						{% include "./destinations/gts_table/goal_line.html" %}
					{% endwith %}
					
						</tr>
				</table>
			
			<!--- TODOS --->
			<div class="collapse" id="{{goal.id}}Todo" aria-expanded="true" 
								  style="table-layout: fixed;">
				{% with gt=todo, gt_obj=todo_obj, gt_sub_obj=None %}
					{% include "./destinations/gts_table/todos_table.html" %}
				{% endwith %}
			</div>  <!-- goal collapse -->
			<!--- TODOS --->

			<!--- TODOS NOT OF STD --->
			<div class="collapse" id="not_of_std{{goal.id}}Todo" aria-expanded="true">
				{% set nt = namespace(exist_todo=False) %}      
				{% for todo in todos_not_of_student if (goal.is_parent_of(todo)) %}
						{% set nt.exist_todo = True %}
						{% break %}
				{% endfor %}
				
				{% if nt.exist_todo == False %}
				
					<div style="background:#ffe066">
						אין בבנק יותר משימות ליעד {{goal.id}}.
						<br>
						ליציר משימה חדשה יש לגשת דרך הסרגל שלמעלה.
					</div>	
					
				{% else %}
				
					<table class="gray_table" >
						{% for todo in todos_not_of_student if (goal.is_parent_of(todo)) %}
							<tr>
								{% with gt=todo, gt_obj=todo_obj, gt_sub_obj=None %}
									{% include "./destinations/gts_table/todo_line_not_of_std.html" %}
								{% endwith %}
							</tr>
						{% endfor %}
					</table>
					
				{% endif %}
				
			</div>		
			<!--- TODOS NOT OF STD --->


			
			<!--- METHODS --->
			<div class="collapse" id="{{goal.id}}Method" aria-expanded="true" 
								  style="table-layout: fixed;">
				{% with gt=method, gt_obj=method_obj, gt_sub_obj=None %}
					{% include "./destinations/gts_table/methods_table.html" %}
				{% endwith %}
			</div>  <!-- goal collapse -->
			<!--- METHODS --->

			<!--- METHODS NOT OF STD --->
			<div class="collapse" id="not_of_std{{goal.id}}Method" aria-expanded="true">
				{% set nt = namespace(exist_method=False) %}      
				{% for method in methods_not_of_student if (goal.is_parent_of(method)) %}
						{% set nt.exist_method = True %}
						{% break %}
				{% endfor %}
				
				{% if nt.exist_method == False %}
				
					<div style="background:#ecb3ff">
						אין בבנק יותר שיטות ליעד זה {{goal.id}}.
						<br>
						ליצירת שיטה חדשה גש דרך לשונית מטרות שבסרגל הירוק שלמעלה
					</div>	
					
				{% else %}
				
					<table class="gray_table" >
						{% for method in methods_not_of_student if (goal.is_parent_of(method)) %}
							<tr>
								{% with gt=method, gt_obj=method_obj, gt_sub_obj2=None %}
									{% include "./destinations/gts_table/method_line_not_of_std.html" %}
								{% endwith %}
							</tr>
						{% endfor %}
					</table>
					
				{% endif %}
				
			</div>		
			<!--- METHODS NOT OF STD --->
			
			
		{% endfor %}  <!-- GOALS -->
	
{% endblock goals_table %}
