{% block tag_ar_dropdown %} 


<style>
ul.tabs {
  display: flex;
  flex-wrap: nowrap;
  align-items: stretch;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul.tabs>li.tab {
  flex: 1;
  text-align: center;
  /* just adding visibility to the tabs */
  border: 1px solid rgba(0,0,0,.12); 
  padding: 10px;
}


input {
	width: 100%;
}

#submit_button {
	display: block;
	margin: 0 auto;
	width:fit-content;
}

</style>
	
	<div style = "text-align:center; width:100%">
				
		<ul class="tabs">
			
			<li class="tab " id="tab-3">
				<label for="selected_ar">בחר קבוצת גיל</label>
				<select class="select" onchange="this.dataset.chosen = this.value;" name="selected_ar" id="selected_ar">	
					{% for ar in age_ranges %}
						{% if ar.id == default_ar.id %}
							<option value="{{ ar.title }}" selected="selected">{{ ar.title }}</option>
						{% else %}
							<option value="{{ ar.title }}">{{ ar.title }}</option>
						{% endif %}
					{% endfor %}
				</select>					
			</li>
											
			<li class="tab " id="tab-3">
				<label for="selected_tag">בחר נושא</label>
				<select class="select" onchange="this.dataset.chosen = this.value;" name="selected_tag" id="selected_tag">	
					{% for tag in tags %}
						{% if tag.id == default_tag.id %}
							<option value="{{ tag.title }}" selected="selected">{{ tag.title }}</option>
						{% else %}
							<option value="{{ tag.title }}">{{ tag.title }}</option>
						{% endif %}
					{% endfor %}
				</select>					
			</li>
			
			<li class="tab " id="tab-3"><span class="tab-title">
				<button class="btn btn-success btn-xs" type="submit" name="txt_type_form_button_name" value="std_selected_tag_and_ar">הצג {{gt_plural_name}} מקטגוריה זו</button>				
			</li>
									
											
		</ul>
												
	</div>

{% endblock tag_ar_dropdown %}