{% block todos_table %}
	
		
		{% set ns = namespace(blue_even=False) %}      				

		{% for todo in student_todos if (goal.is_parent_of(todo)) %}  <!-- todoS -->
		
				{% if ns.green_even==False %}
					{% set ns.green_even = True %}
				{% else %}
					{% set ns.green_even = False %}
				{% endif %}				
				
				{% if ns.blue_even==False %}
					{% set ns.blue_even = True %}
				{% else %}
					{% set ns.blue_even = False %}
				{% endif %}				
				
				<table class="orange" style="table-layout: fixed; color:black;">
					{% if ns.orange_even==False %}
						<tr style="background-color: #fffae6;">
						
					{% set ns.orange_even = True %}
					{% else %}
						<tr style="background-color: #ffe066;">
						
					{% set ns.orange_even = False %}
					{% endif %}	
			
					{% with gt = todo, gt_obj=todo_obj, gt_sub_obj=todo_obj %}
						{% include "./destinations/gts_table/todo_line.html" %}
					{% endwith %}
					
						</tr>
				</table>
			
			<!--- FILES --->
			<div class="collapse" id="{{todo.id}}Content" aria-expanded="true" 
								  style="table-layout: fixed;">
				{% include "./destinations/gts_table/std_show_goal_files.html" %}
			</div>  <!-- goal collapse -->
			<!--- FILES --->
			
		{% endfor %}  <!-- todoS -->
	
{% endblock todos_table %}
