	<!-- FROM https://www.youtube.com/watch?v=XTpLbBJTOM4 -->

{% block goals_methods_tests_body %}

<!-- DEBUG -->

<!-- DEBUG -->
		
	{% for goal in student_goals if dst.is_parent_of(goal) %}  <!-- TAGS -->
	{% set g_ns.goal_printed = False %}
				
		{% for method_type in method_types if goal.is_parent_of(method_type) %}  <!-- METHODS -->
		{% set mt_ns.method_type_printed = False %}
				
			{% for test in tests if goal.is_parent_of(test) %}  <!-- GOALS -->
			{% set t_ns.test_printed = False %}
										
				{% if g_ns.goal_printed == False %}  
					<td>
						{% include "destinations/dsts_table_1/goals_table.html" %} 							
					</td>
					{% set g_ns.goal_printed = True %}
				{% else %}
					<td></td>
				{% endif %}  <!-- END GOALS -->

				{% if mt_ns.method_type_printed == False %}  <!-- MEYHOD-TYPE -->
					<td>
						{% include "destinations/dsts_table_1/method_type_table.html" %} 							
					</td>
					{% set mt_ns.method_type_printed = True %}
				{% endif %}  <!-- END MEYHOD-TYPE -->

							
				{% if t_ns.test_printed == False %}  <!-- TESTS -->
					<td>
						{% include "destinations/dsts_table_1/tests_table.html" %} 							
					</td>
					{% set t_ns.test_printed = True %}
				{% endif %}  <!-- END TESTS -->

			{% endfor %}  <!-- TESTS -->
			
		{% endfor %}  <!-- METHOD-TYPES -->	
		
	{% endfor %}  <!-- GOALS -->	
			

{% endblock goals_methods_tests_body %}