{% table_block %}

table {
    font-family: arial, sans-serif;
    border-collapse: separate;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    padding: 5px;
	align: center;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

table, th, td {
    border: 1px solid black;
	text-align: center;

	lang: "he";
	dir: "rtl";
	marging: 2%;
}

#add_button  {
	-webkit-font-smoothing:subpixel-antialiased;
	background-color:#efeff5;
	margin-left:10%;
	margin-right:10%;
}

tr:nth-child(even) {
	background: #dddddd;
}

tr:nth-child(odd) {
	background: #ffffff;
}

a:  {
color: black;
}

#header_row  {
background-color: #ffff4d;
}

{%endblock %}