{% extends "layout.html" %}

{% block content %}

<style>

table {
    font-family: arial, sans-serif;
    border-collapse: separate;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    padding: 5px;
	align: center;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

table, th, td {
    border: 1px solid black;
	text-align: center;
}

#add_button  {
	-webkit-font-smoothing:subpixel-antialiased;
	background-color:#efeff5;
	margin-left: 10%;
	margin-right:10%;
}


</style>
	
<button class="btn btn-info btn-xs" id="add_button"><h5><strong>
	<a href="{{ url_for('destinations.destination_add', from_dst_sort_order=0) }}">הוסף מטרה</a>
<strong></h5></button>
</br></br>
	
<h2><center>רשימת מטרות</center></h2>	

	{% for ar in age_ranges %}
		</br></br>
		<th><h4><strong> {{ ar.title }} קבוצת גיל </strong></h4></th>

		<table style="width:100%">

		<tr>			
			<th>קבוצת גיל</th>
			<th>נושא</th>
			<th>מטרה</th> 
			<th>פעולות עריכה</th>
		</tr>
		{% for tag in tags %}

			
			{% for dst in ar.destinations if tag in dst.tags %}	
					
				<tr>
					<td>{{ ar.title }}</td>
					<td>{{ tag.title }}</td>
					<td>{{ dst.title }}</td> 				
					<td>
						{% include "./sub_forms/edit_dst_actions.html" %}	
					</td>
				</tr>
				
			{% endfor %}								
		{% endfor %}  <!-- tags -->
		</table>
	{% endfor %}  <!-- ar -->
{% endblock %}