
{% block one_destination %}

<!-- from CodePen https://codepen.io/-a/full/amOYGp -->
<style>
.logo {
  width: 75px;
  float: left;
  margin-right: 15px;
}

.form-group {
  max-width: 500px;
}

.actions {
  padding: 10px 0;
}

.glyphicon-euro {
  font-size: 12px;
}

<!-- from https://www.w3schools.com/css/tryit.asp?filename=trycss_inline-block -->

.after-box {
    border: 3px solid red; 
}

button.accordion {
    background-color: #eee;
	font-weight: bold;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}
div.panel {
    padding: 0 18px;
    background-color: #888;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
</style>
	<h4><center><strong><div>{{ tag.title }}מטרות לנושא:</div></strong></center></h4>
		<br><br>						
					
		<button class="btn btn-warning btn-xs" ><a href="{{ url_for('destinations.destination_update', selected_destination_id=destination.id) }}">ערוך</a></button>		
		<button class="btn btn-warning btn-xs" style="background-color:plum;"><a href="{{ url_for('destinations.show_dummy_student_tree2') }}">הצג עץ מטרות</a></button>
		<button class="btn btn-success btn-xs" ><a href="{{ url_for('destinations.goal_to_destination_add2', selected_destination_id=destination.id) }}">הוסף יעד</a></button>
		<button class="btn btn-success btn-xs" ><a href="{{ url_for('destinations.edit_destinations_goals2', selected_destination_id=destination.id) }}">ערוך יעדים</a></button>
		<button class="btn btn-success btn-xs" style="background-color: #ffff00"><a href="{{ url_for('destinations.edit_destinations_tags2', selected_destination_id=destination.id, selected_tag_id=0) }}">נושאים</a></button>										
		<button class="btn btn-danger btn-xs"  ><a href="{{ url_for('destinations.destination_delete_for_good2', selected_destination_id=destination.id) }}">מחק</a></button>

		<button class="accordion">כותרת מטרה {{ destination.title }}</button>
		<div class="panel">
		  <button>תאור מטרה {{ destination.body }}.</button>				
		</div>
		<br>
		
<script>
var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
  acc[i].onclick = function() {
    this.classList.toggle("active");
    var panel = this.nextElementSibling;
    if (panel.style.maxHeight){
      panel.style.maxHeight = null;
    } else {
      panel.style.maxHeight = panel.scrollHeight + "px";
    } 
  }
}
</script>

{% endblock %}