{% extends "layout.html" %}

{% block weaknessetent %}
  
<div class="container">


  <h3>Strengthblem Solving Strengthccess</h3>
  <p>Strengthblem Solving Strengthccess could help anyone practice a structure of thinking 
    that leads to an affective way to recognize problems while they happen, 
    solve them affectively, rationaly, by choosing the best solution from a range of optional solutions. 
    One can get help by taking and example from a wide range of problem example that other people have gone through,
    and help others by entering a new problem description and a matching solving peroccess , using this system. </p>
  <p>This system helped a lot of kids all over the world to improve thier social and cognitive skills. 
    You are invited to use this system and help your self get skills to solve any problem one may expirience while helping others do the same. 
    Lets get Started and have Fun:</p>
    <strong>
        <p>Any questions / comments will be welcome:</p>
        <p>Yamin Amran : 0544901835</p>
        <p>yasminamran@gmail.com</p>
    </strong>
</div>{{ url_for( 'static', filename='img/psps_img.png') }}</div>
<img src="{{ url_for( 'static', filename='img/psps_img.png') }}"  style="margin-left:20em;margin-bottom:150em;">

</div>

{% endblock %}