{% block vertical_std_menu.html %}

<style>
.menu-container {
    width:100%;
    margin: 0 auto;
    padding: 20px 0;
}
.menu {
    width: 150px;
    font-family: Verdana, Geneva, sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 15px;
    position: relative;
    padding: 0 0 0 4px;
    margin: 0;
    background-color: #227087;
}
.menu a, .menu a:link, .menu a:visited, .menu a:focus, span {
    color: #fff;
    text-decoration: none;
}
.menu a:hover {
    color: #227087;
    text-decoration: none;
}
.menu > li {
    display: block;
    text-align: center;
    margin-left: -4px;
    border-left: 1px solid rgba(255, 255, 255, 0.11);
    box-shadow: -1px 0 0 rgba(0, 0, 0, 0.1);
}
.menu > li > a {
    padding:20px 18px;
    display: block;
}
.menu > li:hover > a {
    color: #227087;
}
.menu > li:hover {
    background-color: #fff;
}
/* Megadrop width dropdown */
 .menu > li > .megadrop {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    list-style: none;
    top: 0px;
    left: 153px;
    width: 800px;
    min-height: 100%;
    text-align: left;
    margin-top:30px;
    padding: 0;
    z-index: 99;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow: hidden;
    border-top: 2px solid #227087;
    border-right: 2px solid #227087;
    border-bottom: 2px solid #227087;
}
.menu > li:hover .megadrop {
    opacity: 1;
    visibility: visible;
    margin-top: 0px;
}
.menu ul li:hover:after {
    color: #227087;
}
.menu .col {
    width: 14.1%;
    float: left;
    color:white;
    margin: 0 0 0 2.2%;
}
.menu .col ul {
    padding: 0;
    margin: 0;
}
.menu .col ul li {
    padding: 0;
    list-style: none;
    font-size: 11px;
}
.menu .col h3 {
    font-size: 16px;
    padding: 10px 0;
    font-weight: bold;
    margin: 5px 0 5px 0;
    color: #227087;
    background: #eee;
}
.menu .col ul li a {
    display: block;
    padding: 0 0 15px 0;
    color: #227087;
}
.menu .col ul li a:hover {
    color: #111;
    text-decoration: underline;
}
.menu > li > ul li ul, .menu li >ul li, .menu > li > .megadrop, .menu > li > ul, .menu > li {
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-outs;
}
</style>



<div>
  <ul class="menu">
    <li><a href="#">MEGA MENU 1</a>

      <div class="megadrop">

        <div class="col">
          <h3>Title</h3>
          <ul>
            <li><a href="#">Sub-menu 1</a>
            </li>
            <li><a href="#">Sub-menu 2</a>
            </li>
            <li><a href="#">Sub-menu 3</a>
            </li>
          </ul>
        </div>
        <div class="col">
          <h3>Title</h3>
          <ul>
            <li><a href="#">Sub-menu 1</a>
            </li>
            <li><a href="#">Sub-menu 2</a>
            </li>
            <li><a href="#">Sub-menu 3</a>
            </li>
          </ul>
        </div>
        <div class="col">
          <h3>Title</h3>
          <ul>
            <li><a href="#">Sub-menu 1</a>
            </li>
            <li><a href="#">Sub-menu 2</a>
            </li>
            <li><a href="#">Sub-menu 3</a>
            </li>
          </ul>
        </div>

      </div>

    </li>


    <li> <a href="#">MEGA MENU 2</a>

      <div class="megadrop">

      </div>

    </li>

    <li> <a href="#">MEGA MENU 3</a>

      <div class="megadrop">

      </div>

    </li>
    <li> <a href="#">MEGA MENU 4</a>

      <div class="megadrop">

      </div>

    </li>

  </ul>
</div>

{% endblock vertical_std_menu.html %}
