	<!-- FROM https://www.youtube.com/watch?v=XTpLbBJTOM4 -->

{% block plan_report_show_std_dsts_by_tag %}


<style>

    .wrapper {
        display: grid;
    grid-gap: 10px;
        grid-template-columns: repeat(10, [col] auto ) ;
        grid-template-rows:    repeat(2, [row] auto  );
    }
	
 .box {
        border-radius: 5px;
        padding: 14px;
        font-size: 100%;

    }

    .box .box {
        background-color: #ccc;
        color: #444;
    }


    .a {
        grid-column: col / span 3;
    }

    .b {
        grid-column: col 4 / span 7;
    }

    .c {
        grid-column: col  / span 3;
    }

    .d {
        grid-column: col 4 / span 4;
    }

    .e {
        grid-column: col 8 / span 3;
    }



</style>

<!------------- DEBUG ----------------------------->

<!------------- DEBUG ----------------------------->

</br>

<div class="wrapper">

	{% for tag in tags %}   <!-- TAGS -->
	
		</br>
		
		<div class="box a">
		
			<div type="button" style="color:black;" id="gray_title"
							   onclick="myFunction('{{tag.id}}')">
				תחום: {{ tag.title }}    <!-- {{ tag.title|replace("-", "\n") }} -->				
			</div>
			
			<div type="button" style="color:black;" 
							   id="{{tag.id}}" class="w3-hide  w3-center gray_body">
				{{tag.body}}
			</div>
		</div>

		
	{% endfor %}  <!-- TAGS -->
	
</div>  <!-- WRAPPER -->


		
<script>
function myFunction(id) {
  var x = document.getElementById(id);
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else { 
    x.className = x.className.replace(" w3-show", "");
  }
}
</script>

				
{% endblock plan_report_show_std_dsts_by_tag %}