{% block methods_table %}
	
		
	<div class="box d">


		<table style="max-width:100%">  <!-- METHODS TITLE -->
			<tr>
				<th style="background-color:#7650a1; color:#ffffcc;">			
					<strong>דרכי הוראה, שיטות, אמצעים ומשאבים </strong>
				</th>
			</tr>			
		</table>		
	
<!--- DEBUG ------------------------->
<div class="wrapper">
		
		<div class="box a">A</div>
		<div class="box b">B</div>
		<div class="box c">C</div>
		<div class="box d">D</div>
		<div class="box e">E</div>
		
</div> 
<!--- DEBUG ------------------------->
		<!-- METHODS LIST -->
		<table class="purple_table" style="max-width:100%">
			<tr>
			
				<th>			
					<strong>סוג \ מדייה</strong>
				</th>
				
				<th>			
					<strong>פרוט</strong>
				</th>
				
				<th>			
					<strong>גורמים אחראיים לביצוע</strong>
				</th>
			
			</tr>
			
			
			
		{% for method in student_methods if ( goal.is_parent_of(method) or method.is_parent_of(goal) )  %}  
			<tr>
			
				<td>
						<div  class="title" type="button" style="color:black;" id="purple_title" 
										   onclick="myFunction('{{method.id}}')">
							{{ method.title }}   

						</div>
								
						<div type="button" id="{{method.id}}" class="w3-hide  w3-center purple_body">
							{{method.body}}
						</div>
				</td>
					
				<td>
					{% for method_type in method_types if method.is_parent_of(method_type)  %}  <!-- METHOD-TYPES -->
							<div type="button" style="color:black;" id="purple_title" 
											   onclick="myFunction('{{method_type.id}}')">
								סוג: {{ method_type.title }} 			
							</div>
							
							<div type="button" id="{{method_type.id}}" class="w3-hide  w3-center purple_body">
								{{method_type.body}}
							</div>
					{% endfor %}  <!-- METHODS-TYPES -->					
				</td>
					
				<td>
					{% for who in whos if method.is_parent_of(who)  %}  <!-- WHOS -->
							<div type="button" style="color:black;" id="purple_title" 
											   onclick="myFunction('{{who.id}}')">
								{{ who.title }}   
							</div>
									
							<div type="button" id="{{who.id}}" class="w3-hide  w3-center purple_body">
								{{who.body}}
							</div>
					{% endfor %}  <!-- WHOS -->					
				</td>
			
			</tr>		
		{% endfor %}  <!-- METHODS -->
		</table>
	</div>
		



		
<script>
function myFunction(id) {
  var x = document.getElementById(id);
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else { 
    x.className = x.className.replace(" w3-show", "");
  }
}
</script>


{% endblock methods_table %}