<!-- FROM http://blog.fontawesome.io/2014/05/19/stacking-text-and-icons/ -->

<style>

.calendar-text { margin-top: .3em; }
.file-text { margin-top: .2em; }

.fa-stack { font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif; }
.stacked-icons {
  margin-top: 20px;
  text-align: center;
}
.fa-stack + .fa-stack { margin-left: .3em; }
.fa-stack { margin-bottom: 20px; }

</style>


<div class="stacked-icons">
  <span class="fa-stack fa-3x">
    <i class="fa fa-calendar-o fa-stack-2x"></i>
    <strong class="fa-stack-1x calendar-text">27</strong>
  </span>

  <span class="fa-stack fa-3x">
    <i class="fa fa-comment fa-stack-2x"></i>
    <strong class="fa-stack-1x fa-stack-text fa-inverse">5</strong>
  </span>

  <span class="fa-stack fa-3x">
    <i class="fa fa-file-o fa-stack-2x"></i>
    <strong class="fa-stack-1x fa-stack-text file-text">16</strong>
  </span>
</div>

