
<!-- FROM https://stackoverflow.com/questions/37911092/svg-animation-not-working  -->

<style>

svg {
  //margin: auto;
  //display: block;
}

@keyframes grow1 {
  0% {
	fill #ff0000;
    transform: translate(-67%, -40%) scale(1); 
  }
  30% {
    transform: translate(-67%, -40%) scale(1.5); 
	fill #ff0000;
  }
  
  60% {
  	fill #ff0000;
    transform: translate(-67%, -40%) scale(3);  
  }  
  
  75% {
  	fill #ff0000;
    transform: translate(-67%, -40%) scale(1.5);  
  }
  
  100% {
  	fill #ff0000;
    transform: translate(-67%, -40%) scale(1);  
  }
}

<!-- FROM https://teamtreehouse.com/community/css-svg-animation-keyframes-not-working-in-chrome-and-safari  -->
@-moz-keyframes grow1 {
  0% {
	fill #ff0000;
    transform: translate(-67%, -40%) scale(1); 
  }
  30% {
    transform: translate(-67%, -40%) scale(1.5); 
	fill #ff0000;
  }
  
  60% {
  	fill #ff0000;
    transform: translate(-67%, -40%) scale(3);  
  }  
  
  75% {
  	fill #ff0000;
    transform: translate(-67%, -40%) scale(1.5);  
  }
  
  100% {
  	fill #ff0000;
    transform: translate(-67%, -40%) scale(1);  
  }
}



@-webkit-keyframes grow1 {
  0% {
	fill #ff0000;
    transform: translate(-67%, -40%) scale(1); 
  }
  30% {
    transform: translate(-67%, -40%) scale(1.5); 
	fill #ff0000;
  }
  
  60% {
  	fill #ff0000;
    transform: translate(-67%, -40%) scale(3);  
  }  
  
  75% {
  	fill #ff0000;
    transform: translate(-67%, -40%) scale(1.5);  
  }
  
  100% {
  	fill #ff0000;
    transform: translate(-67%, -40%) scale(1);  
  }
}


@-ms-keyframes grow1 {
  0% {
	fill #ff0000;
    transform: translate(-67%, -40%) scale(1); 
  }
  30% {
    transform: translate(-67%, -40%) scale(1.5); 
	fill #ff0000;
  }
  
  60% {
  	fill #ff0000;
    transform: translate(-67%, -40%) scale(3);  
  }  
  
  75% {
  	fill #ff0000;
    transform: translate(-67%, -40%) scale(1.5);  
  }
  
  100% {
  	fill #ff0000;
    transform: translate(-67%, -40%) scale(1);  
  }
}


@-o-keyframes grow1 {
  0% {
	fill #ff0000;
    transform: translate(-67%, -40%) scale(1); 
  }
  30% {
    transform: translate(-67%, -40%) scale(1.5); 
	fill #ff0000;
  }
  
  60% {
  	fill #ff0000;
    transform: translate(-67%, -40%) scale(3);  
  }  
  
  75% {
  	fill #ff0000;
    transform: translate(-67%, -40%) scale(1.5);  
  }
  
  100% {
  	fill #ff0000;
    transform: translate(-67%, -40%) scale(1);  
  }
}
</style>