
<!-- FROM https://stackoverflow.com/questions/37911092/svg-animation-not-working  -->

<style>

svg {
  //margin: auto;
  //display: block;
}

@keyframes grow1 {

  0% {
	stroke: #ffffb3;
    transform: scale(1); 
  }
  10% {
	stroke: #ffff56;
    transform: scale(0.5); 
  }
  
  20% {
	stroke: silver;
    transform: scale(0.2);  
  }  
  
  40% {
	stroke: gold;
    transform: scale(0.3);  
  }  
   
  50% {
	stroke: bronze;
    transform: scale(0.6);  
  }  
  
  60% {
	stroke: gold;
    transform: scale(1);  
  }
    
  80% {
	stroke: #ffff56;
    transform: scale(1.2);  
  }
      
  90% {
	stroke: silver;
    transform: scale(1.4);  
  }
      
  95% {
	stroke: white;
    transform: scale(1.2);  
  }
   
  100% {
	stroke: silver;
    transform: scale(1);  
  }
}


</style>