<!-- FROM https://codeloop.org/flask-crud-application-with-sqlalchemy/ -->
{% block add_tag_prf_from_bank %}

<style>
.global_table span {
  table-layout: inherit;
}
</style>

				<!-- Modal Add Part From Bank -->
	<div id="bank_{{sbj.class_name}}" class="modal fade" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-body">

							<!--------- DEBUG ----------------------->

							<!--------- DEBUG ----------------------->
							
					<form method="post" 
						  action="{{ url_for('students.std_sbj_to_prf_add') }}"> 
							
						{% set ns = namespace(exist_sbj=False) %}
						{% for gt in sbjs_not_of_prf
							   if ( gt.is_parent_of(tag) and gt.title != 'New' ) %}
									{% set ns.exist_sbj = True %}
									{% break %}

						{% endfor %}
														
						<table class="table_color">
							
							{% if ns.exist_sbj == False %}

								<div class="alert" style="background:{{sbj.odd_color}}">
									אין יותר {{sbj.h_name}} בבנק.
								</div>
							
							{% else %}
							
								{% for gt in sbjs_not_of_prf
									   if ( gt.is_parent_of(tag) and gt.title != 'New' ) %}
										{% include "profile/subjects_of_interest/std_prf_sbjs_tables.html" %}
								{% endfor %}
								
							{% endif %}

						</table>
						
					</form>
					
				</div>
					
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">ביטול</button>
				</div>
				
			</div>
		</div>
	</div>


{% endblock add_tag_prf_from_bank %}