
{% block one_goal_goal_form %}
<div> IN C:\Users\yasmi\Documents\menta4\app\students\templates\destinations\goals\edit_one_std_dst_goal.html </div>
	<table class="yellow_table">
	
		<tr>			
			<th> מספר היעד </th>	
			<th> כותרת היעד </th>
			<th> תאור היעד </th>
			<th> תאריך השלמת היעד </th>
			<th> סטאטוס היעד </th>
		</tr>
						
		<tr>
		
			<td>{{ goal.id }}</td>
			<td>{{ goal.title }}</td>
			<td>{{ goal.body }}</td> 
							
			<td>
				<div id="ar_div">
					<input type="date" style="text-align:center" class="form-control" id="due_date" name="due_date" value="{{ goal.due_date }}">
				</div>   <!-- ar_div -->
			</td>	
					
			<td>סטאטוס:
				<select style="color:{{ goal.status_color }}" name="selected_status" id="color_me">						
					{% for sts in statuss %}
						{% if sts in goal.children %}
							<option style="color:{{ goal.status_color }}" value="{{ goal.status_title }}" selected>{{ goal.status_title }}</option>
						{% else %}
							<option style="color:{{ sts.color }}" value="{{ sts.title }}">{{ sts.title }}</option>
						{% endif %}
					{% endfor %}
				</select>						
			</td>	

			<td>								
				{% set goal_num = goal.id * 2 + 1 %}
				{{ goal_num }}									
				<button class="btn btn-success btn-xs" type="submit" name="goal_and_goal_form_button_name" value="{{ goal_num }}">שמור</button>
			</td>
									
		</tr>
	
	<tr>
		<th style="background:#ffffff" colspan="5"></th>
	</tr>

	<tr style="width:100%">
		<th style="background:#ffffb3; color:black" colspan="6"> יעדים להשגת המטרה </th>
	</tr>
	
	<tr>				
		{% for todo in student_todos %}
		<div> todo: {{ todo }}     goal.children: {{ goal.children.all() }}
			{% if todo in goal.children.all() %}
				{% include "./destinations/goals/todos/goal_todos_table_line.html" %}
			{% endif %}
		{% endfor %}
	</tr>
	<!--
	<tr>
		{% for goal in goals_not_of_student if ( goal.id == std_dst.id ) %}
			{% include "./goals/edit_one_std_dst_goal_gray.html" %}
		{% endfor %}
	</tr>
	-->
<!-- FROM https://stackoverflow.com/questions/18091866/background-color-of-selected-option -->
			
	</table>

<script type="text/javascript" src="{{ url_for('static', filename='js/tree_list_plus.js') }}"></script>
<script>
var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
  acc[i].onclick = function() {
    this.classList.toggle("active");
    var panel = this.nextElementSibling;
    if (panel.style.maxHeight){
      panel.style.maxHeight = null;
    } else {
      panel.style.maxHeight = panel.scrollHeight + "px";
    } 
  }
}
</script>


<!-- call match_goal function for save goal details when submit button is pushed by the user -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type=text/javascript>
        $(function() {
          $('a#test').bind('click', function() {
            $.getJSON('/match_goal_to_std2',
                function(data) {
              //do nothing
            });
            return false;
          });
        });
</script>

{% endblock one_goal_goal_form %}