{% block dsts_list_6.html %}				
					
	<tr class="collapsed" data-toggle="collapse" data-target=".{{std_dst.id}}Content">											
													
		{% include "./destinations/table_destinations/dst_line_7.html" %}
		
		<tr></tr>
		
		<tr class="collapse" id="{{std_dst.id}}Content" aria-expanded="true">
			<td colspan="6">
				{% include "./destinations/table_destinations/example_8.html" %}								
			</td>
		</tr>
		
		<tr></tr>
		
		<tr class="collapse" id="not_of_std{{std_dst.id}}Content" aria-expanded="true">
			<td colspan="6">
				{% include "./destinations/table_destinations/example_12.html" %}								
			</td>
		</tr>
		
	</tr>
					
{% endblock dsts_list_6.html %}				
					