{% block ex_8 %}

<style>

#add_button  {
	-webkit-font-smoothing:subpixel-antialiased;
	background-color:#efeff5;
	margin-left:10%;
	margin-right:10%;
}

[data-toggle="toggle"] {
	display: none;
}

.collapsed .todos-icon-class:before {
    content: 'משימות +';
}
.todos-icon-class:before {
	content: 'משימות -';
}

.collapsed .add-todos-icon-class:before {
    content: 'משימות חדשות +';
}
.add-todos-icon-class:before {
	content: 'משימות חדשות -';
}

</style>

<!DOCTYPE html>
<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>


$(document).ready(function(){
	
	$("#hide_dsts").click(function(){
		$("table.green_table").hide(1000);
	});

	$("#show_dsts").click(function(){
		$("table.green_table").show(1000);

	});
	
	$("#hide_goals").click(function(){
		$("table.blue_table").hide(1000);
	});

	$("#show_goals").click(function(){
		$("table.blue_table").show(1000);

	});
	
	$('[data-toggle="toggle"]').click(function () {
		$(this).parents().next(".hide").toggle();
  });
		
});


$('[data-toggle="collapse"]').on('click', function() {
  $(this).toggleClass('collapsed');
});

</script>

	<table class="table blue_table">

		{% include "./destinations/table_destinations/goals_header_6.html" %}
		
		<tbody>
			{% for goal in student_goals if (std_dst.is_parent_of(goal)) %}   <!-- GOALS LIST -->
				<tr class="collapsed" data-toggle="collapse" data-target=".{{goal.id}}Content">											
																
					{% include "./destinations/table_destinations/goal_line_7.html" %}
					
					<tr></tr>
					
					<tr class="collapse" id="{{goal.id}}Content" aria-expanded="true">
						<td colspan="6">
							{% include "./destinations/table_destinations/example_9.html" %}								
						</td>
					</tr>
					
					<tr></tr>
					
					<tr class="collapse" id="not_of_std{{goal.id}}Content" aria-expanded="true">
						<td colspan="6">
							{% include "./destinations/table_destinations/example_13.html" %}								
						</td>
					</tr>
					
				</tr>											
			{% endfor %}  
		</tbody>		
	</table>

{% endblock ex_8 %}