<div class="wrapper">
  <div class="Rtable Rtable--5cols Rtable--collapse">
    <div class="Rtable-row Rtable-row--head">
      <div class="Rtable-cell date-cell column-heading">Date</div>
      <div class="Rtable-cell topic-cell column-heading">Topic</div>
      <div class="Rtable-cell access-link-cell column-heading">Access Link</div>
      <div class="Rtable-cell replay-link-cell column-heading">Replay</div>
      <div class="Rtable-cell pdf-cell column-heading">Checklist</div>
    </div>

    <div class="Rtable-row">
      <div class="Rtable-cell date-cell">
        <div class="Rtable-cell--heading">Date</div>
        <div class="Rtable-cell--content date-content"><span class="webinar-date">August 2nd, 2016</span><br />6:00 pm (CDT)</div>
      </div>
      <div class="Rtable-cell topic-cell">
        <div class="Rtable-cell--content title-content">The “Rock-Solid” Foundations Quickstart</div>
      </div>
      <div class="Rtable-cell access-link-cell">
        <div class="Rtable-cell--heading">Access Link</div>
        <div class="Rtable-cell--content access-link-content"><a href="#0"><i class="ion-link"></i></a></div>
      </div>
      <div class="Rtable-cell replay-link-cell">
        <div class="Rtable-cell--heading">Replay</div>
        <div class="Rtable-cell--content replay-link-content"><a href="#0"><i class="ion-ios-videocam"></i></a></div>
      </div>
      <div class="Rtable-cell Rtable-cell--foot pdf-cell">
        <div class="Rtable-cell--heading">Checklist</div>
        <div class="Rtable-cell--content pdf-content"><a href="#0"><i class="ion-document-text"></i></a></div>
      </div>
    </div>
    
    <div class="Rtable-row is-striped">
      <div class="Rtable-cell date-cell">
        <div class="Rtable-cell--heading">Date</div>
        <div class="Rtable-cell--content date-content"><span class="webinar-date">September 6th, 2016</span><br />6:00 pm (CDT)</div>
      </div>
      <div class="Rtable-cell topic-cell">
        <div class="Rtable-cell--content title-content">Cash Flow Genesis</div>
      </div>
      <div class="Rtable-cell access-link-cell">
        <div class="Rtable-cell--heading">Access Link</div>
        <div class="Rtable-cell--content access-link-content"><a href="#0"><i class="ion-link"></i></a></div>
      </div>
      <div class="Rtable-cell replay-link-cell">
        <div class="Rtable-cell--heading">Replay</div>
        <div class="Rtable-cell--content replay-link-content"><a href="#0"><i class="ion-ios-videocam"></i></a></div>
      </div>
      <div class="Rtable-cell Rtable-cell--foot pdf-cell">
        <div class="Rtable-cell--heading">Checklist</div>
        <div class="Rtable-cell--content pdf-content"><a href="#0"><i class="ion-document-text"></i></a></div>
      </div>
    </div>
    
    <div class="Rtable-row">
      <div class="Rtable-cell date-cell">
        <div class="Rtable-cell--heading">Date</div>
        <div class="Rtable-cell--content date-content"><span class="webinar-date">October 4th, 2016</span><br />6:00 pm (CDT)</div>
      </div>
      <div class="Rtable-cell topic-cell">
        <div class="Rtable-cell--content title-content">Exposing Wall Street’s Biggest Con</div>
      </div>
      <div class="Rtable-cell access-link-cell">
        <div class="Rtable-cell--heading">Access Link</div>
        <div class="Rtable-cell--content access-link-content"><a href="#0"><i class="ion-link"></i></a></div>
      </div>
      <div class="Rtable-cell replay-link-cell">
        <div class="Rtable-cell--heading">Replay</div>
        <div class="Rtable-cell--content replay-link-content"><a href="#0"><i class="ion-ios-videocam"></i></a></div>
      </div>
      <div class="Rtable-cell Rtable-cell--foot pdf-cell">
        <div class="Rtable-cell--heading">Checklist</div>
        <div class="Rtable-cell--content pdf-content"><a href="#0"><i class="ion-document-text"></i></a></div>
      </div>
    </div>
    
    <div class="Rtable-row is-striped">
      <div class="Rtable-cell date-cell">
        <div class="Rtable-cell--heading">Date</div>
        <div class="Rtable-cell--content date-content"><span class="webinar-date">November 1st, 2016</span><br />6:00 pm (CDT)</div>
      </div>
      <div class="Rtable-cell topic-cell">
        <div class="Rtable-cell--content title-content">Member’s Choice</div>
      </div>
      <div class="Rtable-cell access-link-cell">
        <div class="Rtable-cell--heading">Access Link</div>
        <div class="Rtable-cell--content access-link-content"><a href="#0"><i class="ion-link"></i></a></div>
      </div>
      <div class="Rtable-cell replay-link-cell">
        <div class="Rtable-cell--heading">Replay</div>
        <div class="Rtable-cell--content replay-link-content"><a href="#0"><i class="ion-ios-videocam"></i></a></div>
      </div>
      <div class="Rtable-cell Rtable-cell--foot pdf-cell">
        <div class="Rtable-cell--heading">Checklist</div>
        <div class="Rtable-cell--content pdf-content"><a href="#0"><i class="ion-document-text"></i></a></div>
      </div>
    </div>
    
    <div class="Rtable-row">
      <div class="Rtable-cell date-cell">
        <div class="Rtable-cell--heading">Date</div>
        <div class="Rtable-cell--content date-content"><span class="webinar-date">December 6th, 2016</span><br />6:00 pm (CST)</div>
      </div>
      <div class="Rtable-cell topic-cell">
        <div class="Rtable-cell--content title-content">How (and Why) to Never Borrow From a Bank Again</div>
      </div>
      <div class="Rtable-cell access-link-cell">
        <div class="Rtable-cell--heading">Access Link</div>
        <div class="Rtable-cell--content access-link-content"><a href="#0"><i class="ion-link"></i></a></div>
      </div>
      <div class="Rtable-cell replay-link-cell">
        <div class="Rtable-cell--heading">Replay</div>
        <div class="Rtable-cell--content replay-link-content"><a href="#0"><i class="ion-ios-videocam"></i></a></div>
      </div>
      <div class="Rtable-cell Rtable-cell--foot pdf-cell">
        <div class="Rtable-cell--heading">Checklist</div>
        <div class="Rtable-cell--content pdf-content"><a href="#0"><i class="ion-document-text"></i></a></div>
      </div>
    </div>
    
    <div class="Rtable-row is-striped">
      <div class="Rtable-cell date-cell">
        <div class="Rtable-cell--heading">Date</div>
        <div class="Rtable-cell--content date-content"><span class="webinar-date">January 3rd, 2017</span><br />6:00 pm (CST)</div>
      </div>
      <div class="Rtable-cell topic-cell">
        <div class="Rtable-cell--content title-content">How to Become the Best Version of Yourself — in Business, Finances and Life</div>
      </div>
      <div class="Rtable-cell access-link-cell">
        <div class="Rtable-cell--heading">Access Link</div>
        <div class="Rtable-cell--content access-link-content"><a href="#0"><i class="ion-link"></i></a></div>
      </div>
      <div class="Rtable-cell replay-link-cell">
        <div class="Rtable-cell--heading">Replay</div>
        <div class="Rtable-cell--content replay-link-content"><a href="#0"><i class="ion-ios-videocam"></i></a></div>
      </div>
      <div class="Rtable-cell Rtable-cell--foot pdf-cell">
        <div class="Rtable-cell--heading">Checklist</div>
        <div class="Rtable-cell--content pdf-content"><a href="#0"><i class="ion-document-text"></i></a></div>
      </div>
    </div>
  </div>
</div>