{% extends "layout.html" %} 

{% block content %}

<style>
button.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

button.accordion.active, button.accordion:hover {
    background-color: #ddd;
}

button.accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

button.accordion.active:after {
    content: "\2212";
}

div.panel {last_name
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
	
	
}table {
    font-family: arial, sans-serif;
    border-collapse: separate;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    padding: 5px;
	align: center;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

table, th, td {
    border: 1px solid black;
	text-align: center;
}
</style>
	
	
<div class="container">	

	<h2><center>Edit teacher's  {{ teacher.first_name }} {{ teacher.last_name }} students team:</center></h2>
	<table style="width:100%">
		<tr>			
			<th> First name </th>
			<th> Last name </th>
			<th> grade </th>
			<th> role </th>
			<th> actions </th>
		</tr>
		
		{% for student in students %}	
		<form   method="POST" action="{{ url_for('student_to_teacher_add2', selected_teacher_id=teacher.id, selected_student_id=student.id) }}">	
		<!--<form   method="POST" action=''>-->
		<tr>
				<td>{{ student.first_name }}</td>
				<td>{{ student.last_name }}</td> 
				<td>{{ student.grade }}</td>				
				<td> Select a Role:  
					<select class="select" name="selected_role" id="selected_role">
						{% for tchr in student.teachers %}
							{% if tchr.student_id == student.id %}										
								<option value="{{ tchr.title }}" selected="selected"> {{ tchr.title }}</option>
							{% endif %}
						{% endfor %}
									<option value="Manager">Manager</option>
									<option value="Teacher">Teacher</option>
									<option value="Assistant">Assistant</option>
									<option value="Acupation_therapy">Acupation therapy</option>
									<option value="Music_therapy">Music therapy</option>
					</select>					
				</td>
				<td>
				<button class="btn btn-success btn-xs"><a href="{{ url_for('student_to_teacher_add3', selected_teacher_id=teacher.id ) }}">Add a new student</a></button>
				<button class="btn btn-warning btn-xs" type="submit" value="Save">Save</button>
				<button class="btn btn-danger btn-xs"><a href="{{ url_for('student_from_teacher_delete2', selected_teacher_id=teacher.id, selected_student_id=student.id) }}">Delete</a></button>
				</td>				
			</tr>
		</form>	
		{% endfor %}				
	</table>
</div>		<!-- class="container -->

{% endblock %}