<div>
	<ul>
		<li><div class="w3-col s4 w3-green w3-center"><img src="{{ url_for('static', filename='img/school.png') }}">school</div></li>
		<li><div class="w3-col s4 w3-dark-grey w3-center"><img src="{{ url_for('static', filename='img/teacher.png') }}">team member</div></li>
		<li><div class="w3-col s4 w3-red w3-center"><img src="{{ url_for('static', filename='img/kid.png') }}">student</div></li>
	</ul>

	<ul>
		<li><div class="item1"><img src="{{ url_for('static', filename='img/form.png') }}">form</div></li>
		<li><div class="item2"><img src="{{ url_for('static', filename='img/profile.png') }}">Student's profile</div></li>
		<li><div class="item3"><img src="{{ url_for('static', filename='img/statistics.png') }}">statistics</div></li>
	</ul>
</div>


