{% extends "layout.html" %}

{% block content %}

<!-- from CodePen https://codepen.io/-a/full/amOYGp -->
<style>
.logo {
  width: 75px;
  float: left;
  margin-right: 15px;
}

.form-group {
  max-width: 500px;
}

.students {
  padding: 10px 0;
}

.glyphicon-euro {
  font-size: 12px;
}

<!-- from https://www.w3schools.com/css/tryit.asp?filename=trycss_inline-block -->

.after-box {
    border: 3px solid red; 
}

button.accordion {
    background-color: #eee;
	font-weight: bold;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}
div.panel {
    padding: 0 18px;
    background-color: #888;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
</style>

  <h3> Schools list:</h3>
  <div>
  
	    {% for school in schools %}	 
            <button class="btn btn-warning btn-xs" ><a href="{{ url_for('school_update', selected_school_id=school.id) }}">Edit</a></button>
			<button class="btn btn-warning btn-xs" style="background-color:plum;"><a href="{{ url_for('show_school_tree2', selected_school_id=school.id) }}">Show Situation tree</a></button>
			<button class="btn btn-success btn-xs" ><a href="{{ url_for('student_add2', selected_school_id=school.id) }}">Add a student</a></button>
			<button class="btn btn-success btn-xs" ><a href="{{ url_for('students_by_school2', selected_school_id=school.id) }}">Show students</a></button>
            <button class="btn btn-danger btn-xs"  ><a href="{{ url_for('school_delete2', selected_school_id=school.id) }}">Delete</a></button>
			 
	   		<button class="accordion">School name: {{ school.title }}</button>
			<div class="panel">
			  <button>School description: {{ school.body }}.</button>				
			</div>
		    <br><br>
		{% endfor %}
		<button class="btn btn-info btn-xs"  ><a href="{{ url_for('school_add') }}">Add new School</a></button>
 </div>

<script type="text/javascript" src="{{ url_for('static', filename='js/tree_list_plus.js') }}"></script>
<script>
var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
  acc[i].onclick = function() {
    this.classList.toggle("active");
    var panel = this.nextElementSibling;
    if (panel.style.maxHeight){
      panel.style.maxHeight = null;
    } else {
      panel.style.maxHeight = panel.scrollHeight + "px";
    } 
  }
}
</script>

{% endblock %}



