{% extends "layout.html" %} 


{% block content %}

<div class="container">
    <form role="form" method="POST" action='' > 
			
		<div class="form-group">
		  <label for="id">Teacher's ID:</label>
		  <input type="title" class="form-control" id="id"  name="id"  readonly="readonly" value="{{ teacher.id }}">
		</div>  

		
		<div class="form-group">
		  <label for="first_name">Teacher's Firs Name:</label>
		  <input type="title" class="form-control" id="first_name"  name="first_name" value="{{ teacher.first_name }}">
		</div>  

		<div class="form-group">
		  <label for="last_name">teacher's Last name:</label>
		  <input type="title" class="form-control" id="last_name"  name="last_name" value="{{ teacher.last_name }}">
		</div>
		
		<div class="form-group">
		  <label for="profetional">teacher's profetional:</label>
		  <input type="title" class="form-control" id="profetional"  name="profetional" value="{{ teacher.profetional }}">
		</div>

		<div class="form-group">
		  <label for="email">teacher's email:</label>
		  <input type="email" class="form-control" id="email"  name="email" value="{{ teacher.email }}">
		</div>
				  
		</br>		 
		<button type="submit" class="btn btn-default">Submit</button>
		
	</form>
</div>

{% endblock %}

