{% block dsts_not_of_std_line %}		
	<tr>
	
		<td>{{ std_dst.id }}</td>
				
		<td>{{ std_dst.title }}</td>
		
		<td>{{ std_dst.body }}</td> 
		
		<td>
			<div id="ar_div">
			
				{% for st in std_txts %}
					{% if st.general_txt_id==std_dst.id %}
						{% set due_date =  st.due_date  %}
					{% endif %}	
				{% endfor %}
				
				<input type="date" style="text-align:center" class="form-control" id="due_date" name="due_date" value="{{ due_date }}">

			</div>   <!-- ar_div -->
		</td>	

		<td>סטאטוס:
			<select class="select" name="selected_status" id="selected_status"  id="color_me">	
				{% for sts in statuss %}	
					{% for st in std_txts %}
						{% if (st.general_txt_id==std_dst.id) and (st.status_id==sts.id) %}
							<option value="{{ sts.id }}" selected="selected">{{ sts.title }}</option>
						{% else %}
							<option value="{{ sts.title }}">{{ sts.title }}</option>
						{% endif %}
					{% endfor %}
				{% endfor %}
			</select>					
		</td>
	
		<td>
			{% set dst_num = std_dst.id * 3 %}	
			<button class="btn btn-success btn-xs" type="submit" name="txt_type_form_button_name" value="{{ dst_num }}">שמור</button>
		</td>
	
	</tr>
	
	<tr>
		<th style="background:#ffffff" colspan="5"></th>
	</tr>

	<tr style="width:100%">
		<th style="background:#ffffb3; color:black" colspan="6"> בחר לתלמיד יעדים חדשים להשגת היעד  </th>
	</tr>
	
	
	<tr>				
		{% for goal in std_dst.children.all() %}
			{% if goal not in student_goals %}
				{% include "./destinations/goals/edit_one_dst_goal_not_of_std.html" %}
			{% endif %}
		{% endfor %}
	</tr>

<!-- FROM https://stackoverflow.com/questions/18091866/background-color-of-selected-option -->

<script>				
$("#color_me").change(function(){
    $("#color_me").attr("color") = $("option:selected", this).attr("color");
});
</script>


{% endblock dsts_not_of_std_line %}