{% block edit_std_gts %}		

<style>

table {
    font-family: arial, sans-serif;
    border-collapse: separate;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    padding: 5px;
	align: center;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

table, th, td {
    border: 1px solid black;
	text-align: center;

	lang: "he";
	dir: "rtl";
	marging: 2%;
}

#add_button  {
	-webkit-font-smoothing:subpixel-antialiased;
	background-color:#efeff5;
	margin-left:10%;
	margin-right:10%;
}

</style>
	
	<strong></h5></button>
	
	<strong></h5></button>
	<class="btn btn-info btn-xs" id="add_button">		
		<style="color:{{ gt_category.color }}">עדכן {{ gt_category.title }}				
	</strong></h5></button>
			
	{% for tag in tags %}
		
		</br></br>
		<div> 555 : gt_category:   {{ gt_category }} gt_category.gt_type_txt: SSS {{ gt_category.gt_type_txt }}  EEE</div>
		<th><h4><strong> נושא:   {{ tag.title }}</strong></h4></th>
			
		<table class="blue_table">
		
			<tr id="header_row">
			
				<th>מספר</th>
				<th>נושא</th>
				<th>קטגורית פרופיל</th>
				<th>כותרת</th> 
				<th>תאור</th> 
				<th>כותרת עם אפשרות לעדכן</th>
				<th>פעולות</th>
				
			</tr>
																															
			</br>			
			
			<div> 111: {{ student_sub_gt1s }}   student_sub_gt1s:  </div>
			<div> 222: {{ tag }}                tag:  </div>
			<div> 333: {{ sub_gt1s_not_of_student }}   sub_gt1s_not_of_student: </div>
			
			{% for gt in sub_gt1s_not_of_student %}  <!-- its sappused to be without not_of -->
				<div> 444: {{ gt }} </div>
				{% if (gt.is_parent_of(tag))  %}
								
					{% include "./gts/table_gts/edit_std_gt_line.html" %}
																																
				{% endif %}	
				
			{% endfor %}
				
		</table>
			
	{% endfor %}  <!-- tags -->
		
	</br></br>
		
		

{% endblock edit_std_gts %}