
{% block goal_todos_table_line_not_of_std %}

	<table class="gray_table">
	
		<tr>			
				<th> מספר המשימה </th>	
				<th> כותרת המשימה </th>
				<th> תאור המשימה </th>
				<th> תאריך ביצוע המשימה </th>
				<th> סטאטוס המשימה </th>
				<th> תפקיד האחראי על ביצוע המשימה </th>
		</tr>
		
				
		<tr>
		
			<td>{{ todo.id }}</td>
			<td>{{ todo.title }}</td>
			<td>{{ todo.body }}</td> 
					
		<td>
			<div id="ar_div">
			
				{% for st in std_txts %}
					{% if st.general_txt_id==goal.id %}
						{% set due_date =  st.due_date  %}
					{% endif %}	
				{% endfor %}
				
				<input type="date" style="text-align:center" class="form-control" id="due_date" name="due_date" value="{{ due_date }}">
		
			</div>   <!-- ar_div -->
		</td>	

		<td>סטאטוס:
			<select class="select" name="selected_status" id="selected_status"  id="color_me">	
				{% for sts in statuss %}	
					{% for st in std_txts %}
						{% if (st.general_txt_id==todo.id) and (st.status_id==sts.id) %}
							<option value="{{ sts.id }}" selected="selected">{{ sts.title }}</option>
						{% else %}
							<option value="{{ sts.title }}">{{ sts.title }}</option>
						{% endif %}
					{% endfor %}
				{% endfor %}
			</select>					
		</td>
		
		<td>
			<select class="select" name="selected_who" id="selected_who">	
				{% for who in whos %}	
					{% if who == todo.children.all() %}
						<option value="{{ who.id }}" selected="selected">{{ who.title }}</option>
					{% else %}
						<option value="{{ who.title }}">{{ who.title }}</option>
					{% endif %}
				{% endfor %}
			</select>					
		</td>

			<td>								
				{% set todo_num = todo.id * 3 + 2 %}
				<button class="btn btn-success btn-xs" type="submit" name="txt_type_form_button_name" value="{{ todo_num }}">שמור</button>
			</td>
									
		</tr>
			
	</table>

<script type="text/javascript" src="{{ url_for('static', filename='js/tree_list_plus.js') }}"></script>
<script>
var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
  acc[i].onclick = function() {
    this.classList.toggle("active");
    var panel = this.nextElementSibling;
    if (panel.style.maxHeight){
      panel.style.maxHeight = null;
    } else {
      panel.style.maxHeight = panel.scrollHeight + "px";
    } 
  }
}
</script>


<!-- call match_todo function for save todo details when submit button is pushed by the user -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type=text/javascript>
        $(function() {
          $('a#test').bind('click', function() {
            $.getJSON('/match_todo_to_std2',
                function(data) {
              //do nothing
            });
            return false;
          });
        });
</script>

{% endblock goal_todos_table_line_not_of_std %}