
{% block one_std_todo_form %}

<style>
button.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    #text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

button.accordion.active, button.accordion:hover {
    background-color: #ddd;
}

button.accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

button.accordion.active:after {
    content: "\2212";
}

div.panel {last_name
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}	
	
table {
    font-family: arial, sans-serif;
    border-collapse: separate;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    padding: 5px;
	align: center;
}

table, th, td {
    border: 1px solid black;
	text-align: center;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.st_table tr:nth-child(even){
        background: #dae5f4;
    }

</style>

<div> IN C:\Users\yasmi\Documents\מנטא\app\students\templates\goals\backup\edit_one_std_todo_form.html </div>	
<div class="container">	
	
	<table class="st_table" style="width:100%">
		<tr>			
				<th> מספר המשימה </th>	
				<th> כותרת המשימה </th>
				<th> תאור המשימה </th>
				<th> תאריך ביצוע המשימה </th>
				<th> סטאטוס המשימה </th>

		</tr>
		<form method="POST" action="{{ url_for('students.match_todo_to_std2', selected_todo_id=std_todo.todo_id) }}">	
				
			<tr>
			
				<td>{{ std_todo.todo_id }}</td>
				<td>{{ std_todo.todo_title }}</td>
				<td>{{ std_todo.todo_body }}</td> 
					
				<td>
					<div id="ar_div">
						<input type="date" class="form-control" id="due_date" name="due_date" value="{{ due_date }}">
					</div>   <!-- ar_div -->
				</td>	
					
				<td>סטאטוס: 
					<select class="select" name="selected_status" id="selected_status">	
						{% for sts in statuss %}
							{% if sts.id == std_todo.status_id %}
								<option value="{{ sts.title }}" selected="selected">{{ sts.title }}</option>
							{% else %}
								<option value="{{ sts.title }}">{{ sts.title }}</option>
							{% endif %}
							
						{% endfor %}
					</select>					
				</td>
				
				<td>תפקיד האחראי על ביצוע המשימה:
					<select class="select" name="selected_who" id="selected_who">	
						{% for who in whos %}	
							{% if who.id == std_todo.who_id %}
								<option value="{{ who.title }}" selected="selected">{{ who.title }}</option>
							{% else %}
								<option value="{{ who.title }}">{{ who.title }}</option>
							{% endif %}
						{% endfor %}
					</select>					
				</td>
									
				<td>
				<button class="btn btn-success btn-xs" type="submit" value="Save">שמור</button>
				</td>				
			</tr>
			
		</form>	

	</table>
</div>		<!-- class="container -->

<script type="text/javascript" src="{{ url_for('static', filename='js/tree_list_plus.js') }}"></script>
<script>
var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
  acc[i].onclick = function() {
    this.classList.toggle("active");
    var panel = this.nextElementSibling;
    if (panel.style.maxHeight){
      panel.style.maxHeight = null;
    } else {
      panel.style.maxHeight = panel.scrollHeight + "px";
    } 
  }
}
</script>


{% endblock %}