{% block edit_std_gts %}		

<style>

table {
    font-family: arial, sans-serif;
    border-collapse: separate;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    padding: 5px;
	align: center;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

table, th, td {
    border: 1px solid black;
	text-align: center;

	lang: "he";
	dir: "rtl";
	marging: 2%;
}

#add_button  {
	-webkit-font-smoothing:subpixel-antialiased;
	background-color:#efeff5;
	margin-left:10%;
	margin-right:10%;
}

</style>

<div> IN C:\Users\yasmi\Documents\menta4\app\profile\templates\gt\edit_prf_gts.html </div>
	<div> type: {{ type }} </div>
	<button class="btn btn-info btn-xs" id="add_button"><h5><strong>
		<a href="{{ url_for('profile.dsply_gt_form_for_add2', selected_profile_id=profile.id, type=type) }}" style="color:{{ color }}">הוסף {{ gt_single_type_txt }}</a>			
	<strong></h5></button>
	
	<h2><strong><center><div style="background:#d6f5f5; background:{{ title_color }}" >רשימת {{ gt_some_type_txt }}</div></center></strong></h2>
		
					
	{% for tag in tags %}
	
		<th><h4><strong> נושא:   {{ tag.title }}</strong></h4></th>

		<table class="{{ table_color }}" id="dst_tbl_id" style="width:100%">
		
			<tr id="header_row">							
				<th>מספר</th>
				<th>נושא</th>
				<th>קטגורית פרופיל</th>
				<th>כותרת</th> 
				<th>תאור</th> 
				<th>פעולות</th>
			</tr>
			
			<!-- DEBUG 
			{% for gt in profile.children.all() %}
				<div> gt : {{ gt }} {{ gt.id }} </div>
				{% for c in gt.children.all() %}
					<div> ccc:  {{ c }} {{ c.id }} </div>
				{% endfor %}
			{% endfor %}
			 DEBUG -->
			
			{% for gt in profile.children.all() if (gt.is_parent_of(tag)) %}	
			
				<tr>

					<td>{{ gt.id }}</td>
					<td>{{ tag.title }}</td>
					<td>{{ gt_single_type_txt }}</td>
					<td>{{ gt.title }}</td> 				
					<td>{{ gt.body }}</td> 				
																				
					<td>					
						{% include "./gt/edit_std_gt_line.html" %}																		
					</td>									
			
				</tr>
								
			{% endfor %}
			
		</table>
		
	{% endfor %}  <!-- tags -->
	
	</br></br>	

{% endblock edit_std_gts %}