{% block edit_std_dsts %}		

<style>

table {
    font-family: arial, sans-serif;
    border-collapse: separate;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    padding: 5px;
	align: center;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

table, th, td {
    border: 1px solid black;
	text-align: center;

	lang: "he";
	dir: "rtl";
	marging: 2%;
}

#add_button  {
	-webkit-font-smoothing:subpixel-antialiased;
	background-color:#efeff5;
	margin-left:10%;
	margin-right:10%;
}

</style>
		
	{% for tag in tags %}
	
		</br></br>
		
		<th><h4><strong> נושא:   {{ tag.title }}</strong></h4></th>

		<table id="dst_tbl_id" style="width:100%">

		<tr id="header_row">							
			<th>נושא</th>
			<th>קבוצת גיל</th>
			<th>מטרות</th> 
			<th>פעולות</th>
		</tr>
		
		{% for ar in age_ranges %}  <!-- ars -->
			{% for std_dst in student_dsts if (std_dst.is_parent_of(ar) and std_dst.is_parent_of(tag)) %}
				<tr>
					<td>{{ tag.title }}</td>
					<td>{{ ar.title }}</td>
					<td>{{ std_dst.title }}</td> 				
																									
					</br>
					
					<table class="blue_table">	
						
						<tr>
							<th style="background:#ffffff" colspan="5"></th>
						</tr>
						
						<tr style="width:100%">
							<th style="background:#b7deed; color:black" colspan="6">עדכן את מטרות התלמיד:</th>
						</tr>
								
						<tr>	
							<th> מספר המטרה </th>				
							<th> כותרת המטרה </th>
							<th> תאור המטרה </th>
							<th> תאריך להשלמת המטרה </th>
							<th> סטאטוס המטרה </th>

						</tr>
									
							{% include "./destinations/table_destinations/edit_std_dst_line.html" %}
														
					</table>
								
				</tr>
			
			{% endfor %} <!-- for.. if.. if  --> 
		{% endfor %}  <!-- ars -->			
		
		</table>
	{% endfor %}  <!-- tags -->
	</br></br>	

{% endblock edit_std_dsts %}