<!-- FROM https://stackoverflow.com/questions/25978879/how-to-create-chained-selectfield-in-flask-without-refreshing-the-page  -->

{% block st1 %} 

<style>

ul.tabs {
  display: flex;
  flex-wrap: nowrap;
  align-items: stretch;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul.tabs>li.tab {
  flex: 1;
  text-align: center;
  /* just adding visibility to the tabs */
  border: 1px solid rgba(0,0,0,.12); 
  padding: 10px;
}


input {
	width: 100%;
}

#submit_button {
	display: block;
	margin: 0 auto;
	width:fit-content;
}

<!----------------------------------------------------------------->

.container {
  background: black;
  padding: 25px;
  margin: 0 auto;
  width: 500px;
  color: white;
}

.select2-container {
  width: 150px;
}

select {
  width: 150px;
}

.select2-selection__rendered {
  display: none;
}

</style>
		
		<!-- DEBUG -->

		<!-- DEBUG -->
		
<form action="{{ url_for('students.get_sub_tag_profile') }}" method="POST">
	
	<div style = "text-align:center; width:100%">
				
		<ul class="tabs">
		
			{{ form.csrf_token }}
		
			<li class="tab " id="tab-3"><span class="tab-title">
				<div id="tag_div">
					<div> {{form.tag.label}}: {{form.tag}} </div>
					{% if form.tag.errors %}
						<ul class=errors>
							{% for error in form.tag.errors %}
								<li>{{ error }}</li>
							{% endfor %}
						</ul>
					{% endif %}
				</div>   <!-- tag_div -->
			</li>			

			<li class="tab " id="tab-3"><span class="tab-title">
				<div id="tag_div">
					<div> {{form.sub_tag.label}}: {{form.sub_tag}} </div>
					{% if form.sub_tag.errors %}
						<ul class=errors>
							{% for error in form.sub_tag.errors %}
								<li>{{ error }}</li>
							{% endfor %}
						</ul>
					{% endif %}
				</div>   <!-- sub_tag_div -->
			</li>					
						
			<li class="tab " id="tab-3"><span class="tab-title">
				<h2>
				<button class="btn btn-success btn-xs" type="submit" name="get_sub_tag_profile" value="get_sub_tag_profile">
					הצג פרופיל מקטגוריה זו
				</button>
				</h2>				
			</li>
											
		</ul>
												
	</div>
</form>


<script>

// FROM https://youtu.be/I2dJuNwlIH0?t=717	
	let tag_select = document.getElementById('tag');
	let sub_tag_select = document.getElementById('sub_tag');


	tag_select.onchange = function(){
		tag_id = tag_select.value;
		console.log(tag_id);
		
		fetch('/sub_tag/' + tag_id).then(function(response)  {
			response.json().then(function(data) {
				console.log(data);
				let optionHtml = '';
				for(sub_tag of data.sub_tags)  {
					consoloe.log(sub_tag);

					optionHtml += '<option value ="' + sub_tag.id + '">' + sub_tag.title +'<option>';
					consoloe.log(optionHtml);
				}
				
				consoloe.log(optionHtml);

				sub_tag.innerHtml = optionHtml;
				
			})
		});
	}

</script>


{% endblock st1 %}