
{% block gt_sub1_gt_sub2s_table_line_not_of_std %}

	<table class="gray_table">
	
		<tr>
			<th style="background:#ffffff" colspan="5"></th>
		</tr>

		<tr style="width:100%">
			<th style="background:#99ffbb; color:#00802b" colspan="6">{{ gt_sub2.gt_type_txt }} הוסף</th>
		</tr>
					
		<tr>			
				<th> מספר {{ gt_sub2.gt_type_txt }} </th>	
				<th> כותרת {{ gt_sub2.gt_type_txt }} </th>
				<th> תאור {{ gt_sub2.gt_type_txt }} </th>
				<th> נושא {{ gt_sub2.gt_type_txt }} </th>
				
				<!--
				<th> תאריך ביצוע {{ gt_sub2.gt_type_txt }} </th>
				<th> סטאטוס {{ gt_sub2.gt_type_txt }} </th>
				<th> תפקיד האחראי על ביצוע {{ gt_sub2.gt_type_txt }} </th>
				-->
				
		</tr>

						
		<tr>
		
			<td>{{ gt_sub2.id }}</td>
			<td>{{ gt_sub2.title }}</td>
			<td>{{ gt_sub2.body }}</td> 
					
		<!--		
		<td>
			<div id="ar_div">			
				<input type="date" style="text-align:center" id="due_date" name="due_date{{ gt_sub2.id }}" value="{{ due_date }}">					
			</div>   
		</td>	
		-->
		
		
		<td>נושא:
			<select class="select" name="tag{{ gt_sub2.id }}" id="selected_tag">	
				{% for tag in tags %}	
					{% if tag.id==default_tag.id %}
						<option value="{{ tag.id }}" selected="selected">{{ tag.title }}</option>
					{% else %}
						<option value="{{ tag.id }}">{{ tag.title }}</option>
					{% endif %}
				{% endfor %}
			</select>					
		</td>
		
		<!--
		<td>סטאטוס:
			<select class="select" name="sts{{ gt_sub2.id }}" id="selected_status">	
				{% for sts in statuss %}	
					{% if sts.id==default_status.id %}
						<option value="{{ sts.id }}" selected="selected">{{ sts.title }}</option>
					{% else %}
						<option value="{{ sts.id }}">{{ sts.title }}</option>
					{% endif %}
				{% endfor %}
			</select>					
		</td>
	
	
		<td>
			<select class="select" name="who{{ gt_sub2.id }}" id="selected_who">	
				{% for who in whos %}	
					{% if who.id == default_who.id  %}
						<option value="{{ who.id }}" selected="selected">{{ who.title }}</option>
					{% else %}
						<option value="{{ who.id }}">{{ who.title }}</option>
					{% endif %}
				{% endfor %}
			</select>					
		</td>
		-->
		
			<td>								
				{% set gt_sub2_num = gt_sub2.id * 3 + 2 %}
				<button class="btn btn-success btn-xs" type="submit" name="txt_type_form_button_name" value="{{ gt_sub2_num }}">שמור</button>
			</td>
									
		</tr>
			
	</table>

<script type="text/javascript" src="{{ url_for('static', filename='js/tree_list_plus.js') }}"></script>
<script>
var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
  acc[i].onclick = function() {
    this.classList.toggle("active");
    var panel = this.nextElementSibling;
    if (panel.style.maxHeight){
      panel.style.maxHeight = null;
    } else {
      panel.style.maxHeight = panel.scrollHeight + "px";
    } 
  }
}
</script>


<!-- call match_gt_sub2 function for save gt_sub2 details when submit button is pushed by the user -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type=text/javascript>
        $(function() {
          $('a#test').bind('click', function() {
            $.getJSON('/match_gt_sub2_to_std2',
                function(data) {
              //do nothing
            });
            return false;
          });
        });
</script>

{% endblock gt_sub1_gt_sub2s_table_line_not_of_std %}