{% block dsts_list_content_6 %}				
		
	<tr class="collapsed" data-toggle="collapse" data-target=".{{std_dst.id}}Content">											
													
		{% include "./destinations/table_destinations/dst_line_6.html" %}
						
		<tr></tr>
		{% if (default_tag.id==tag.id) and (default_ar.id==ar.id) %}  <!-- current change of user in this dst part , leave the area open-->
			<tr class="collapse" id="{{std_dst.id}}Content">
				<td colspan="6">
					{% include "./destinations/table_destinations/goals_list_6.html" %}								
				</td>
			</tr>
		{% else %}
			<tr class="collapse" id="{{std_dst.id}}Content">
				<td colspan="6">
					{% include "./destinations/table_destinations/goals_list_6.html" %}								
				</td>
			</tr>		
		{% endif %}

				<tr></tr>
		
		<tr class="collapse" id="not_of_std{{std_dst.id}}Content">
			<td colspan="6">
				{% include "./destinations/table_destinations/goals_not_of_std_list_6.html" %}								
			</td>
		</tr>
		
	</tr>
					
{% endblock dsts_list_content_6 %}				
					