{% block edit_std_dst_line %}


		<td>						
			<button dir="rtl" class="btn btn-info" type="button" class="collapsed" data-toggle="collapse" data-target="#{{std_dst.id}}Content" data-role="expander" data-group-id="{{std_dst.id}}">
				<ul class="list-inline">
					<li class="goals-icon-class"></li>
				</ul>
			</button>
			
			</br>
			
			<button  dir="rtl"  class="btn btn-default" type="button" class="collapsed" data-toggle="collapse" data-target="#not_of_std{{std_dst.id}}Content" data-role="expander" data-group-id="not_of_std{{std_dst.id}}">
				<ul class="list-inline">
					<li class="add-goals-icon-class"></li>
				</ul>
			</button>
		</td>
			
		
		<td>{{ std_dst.id }}</td>
				
		<td>{{ std_dst.title }}</td>
		
		<td>{{ std_dst.body }}</td> 
		
		<td>
			<div id="ar_div">			
				{% for st in std_txts %}
					{% if st.general_txt_id==std_dst.id %}
						<input type="date" style="text-align:center" id="due_date" name="due_date{{ std_dst.id }}" value="{{ st.due_date }}">					
					{% endif %}
				{% endfor %}
			</div>   <!-- ar_div -->
		</td>	

	<td>
		<select class="select" onchange="this.dataset.chosen = this.value;" name="sts{{ std_dst.id }}" id="selected_status">	
			{% for sts in statuss %}
				{% if std_dst.is_parent_of(sts) %}
					<option style="color: {{ sts.color }}" value="{{ sts.color_txt }}" selected="selected">{{ sts.title }}</option>
				{% else %}
					<option style="color: {{ sts.color }}" value="{{ sts.color_txt }}">{{ sts.title }}</option>
				{% endif %}
			{% endfor %}
		</select>					
	</td>

		<td>
			{% set dst_num = std_dst.id * 3 %}	
			<button class="btn btn-success btn-xs" type="submit" name="txt_type_form_button_name" value="{{ dst_num }}">שמור</button>
		</td>
					
<!-- FROM https://stackoverflow.com/questions/18091866/background-color-of-selected-option -->

<script>
				
$("#color_me").change(function(){
    $("#color_me").attr("color") = $("option:selected", this).attr("color");
});

</script>


{% endblock edit_std_dst_line %}