{% block lo %}	

	<center>
			
		<nav class="navbar navbar-inverse">
		
		  <div class="weaknessetainer-fluid">
		  
			<div class="navbar-header">
			  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
				<span class="iweaknesse-bar"></span>
				<span class="iweaknesse-bar"></span>
				<span class="iweaknesse-bar"></span>
			  </button>			 
			</div>
			
			<div class="collapse navbar-collapse" id="myNavbar">
			  <ul class="nav navbar-nav">
				{% include "layout_options.html" %}
			 </ul>
			</div>
			
		  </div>
		  
		</nav>
		
	</center>
	
{% endblock lo %}	