<style>

#blue_title  {
	background: #e6f2ff;
	border:thick solid #0089b3;
	color:black;
	marging: 1%;

}

.blue_body  {
	background-color: #cce5ff ;
	border:thin solid purple;
	color:white;
	dir:rtl;

}


#purple_title  {
	background: #e8d1f0;
	border:thick solid #0089b3;
	color:black;
	marging: 1%;

}

.purple_body  {
	background-color: #ce7aeb ;
	border:thin solid blue;
	color:white;
	dir:rtl;

}


#green_title  {
	background: #e6ffe6;
	border:thick solid mediumseagreen;
	color:black;
}

.green_body  {
	background-color: #ccffcc;
	border:thin solid mediumseagreen;
	color:black;
	dir:rtl;
}


#red_title  {
	background: #ffb3b3;
	border:thick solid red;
	color:black;
	dir:rtl;
}

.red_body  {
	background-color: #ff9999;
	border:thin solid red;
	color:white;
	dir:rtl;

}


#orange_title  {
	background: #fffae6;
	border:thick solid orange;
	color:black;
	dir:rtl;
}

.orange_body  {
	background-color: #ffe066;
	border:thin solid orange;
	color:white;
	dir:rtl;

}

#gray_title  {
	background: #E8E8E8;
	border:thick solid #383838;
	color:black;
	dir:rtl;
}

.gray_body  {
	background-color: #F8F8F8;
	border:thin solid black;
	color:black;
	dir:rtl;

}


.profile_table  {
	table-layout:fixed;
	border:thin solid black;
}

</style>